* {
  box-sizing: border-box; }

*:focus {
  outline: none;
  box-shadow: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto; }

body {
  font-family: 'Poppins', sans-serif;
  color: #0A1247; }

li {
  list-style: none; }

a {
  cursor: pointer;
  text-decoration: none; }

h1 {
  font-size: 46px;
  font-weight: 500; }

h2 {
  font-size: 36px;
  font-weight: 500; }

h3 {
  font-size: 32px;
  font-weight: 500; }
.top-heading {
  padding-bottom: 50px;
}
p {
  font-size: 18px;
  font-weight: 100;
  color: #666; }
.my-cards {
  border-radius: 20px;
}
.buttons {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 14px #0A124720;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: all 0.5s ease; }
  .buttons span {
    margin-right: 30px;
    font-size: 18px; }
  .buttons svg {
    transition: all 0.5s ease; }
  .buttons:hover {
    box-shadow: 0 2px 20px #0A124730; }
    .buttons:hover svg {
      transform: translateX(10px); }

      .login-btn:after {
        height: 49.2px;
        clear: both;
        content: '';
        display: block;
        margin: 0;
      }
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  width: 100%;
  background: #E9EDEF;
  z-index: 1;
  transition: 1s; }
  .header-content .menu ul {
    display: flex; }
    .header-content .menu ul li {
      margin-left: 40px;
      font-size: 16px; }
      .header-content .menu ul li a {
        position: relative;
        color: #0A1247; }
        .header-content .menu ul li a::after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100%;
          transform: scale(0);
          background: #0A1247;
          bottom: -5px;
          left: 0;
          transition: all 0.5s ease; }
        .header-content .menu ul li a:hover::after {
          transform: scale(0.8); }
  .header-content.color-header {
    background: #EBFCFC; }
  .header-content.fixed-header {
    background: #EBFCFC;
    padding: 20px 40px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }

.heading {
  position: relative; }
  .heading::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 180px;
    background-color: #0A1247;
    bottom: -10px;
    border-radius: 8px;
    left: -40px; }

.hero-content {
  background: url("../images/hero_bg_img.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center; }
  .hero-content .hero-text .desc {
    margin-top: 40px;
    color: #0A1247; }
  .hero-content .hero-text .buttons {
    margin-top: 50px;
    margin-left: -120px;
    padding: 12px 40px; }

.desc {
  max-width: 600px; }

.features {
  padding-top: 120px; }
  .features .feature-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
    justify-content: space-around;
    position: relative; }
    .features .feature-detail .feature-text .desc {
      max-width: 400px; }
    .features .feature-detail .feature-text .heading {
      position: absolute;
      left: 40%;
      bottom: 140px; }
      .features .feature-detail .feature-text .heading::after {
        right: -40px;
        left: unset;
        top: -10px; }
    .features .feature-detail.editor-detail {
      flex-direction: row-reverse; }
      .features .feature-detail.editor-detail .heading {
        left: 45%;
        top: 100px; }
        .features .feature-detail.editor-detail .heading::after {
          left: -40px;
          top: -10px; }
    .features .feature-detail.support-detail .heading {
      top: 130px; }

.support-section {
  background: url("../images/support-bg-img.png");
  background-repeat: no-repeat;
  background-size: 70% 100%; }
  .support-section .feature-detail {
    margin: 0; }

.comparision-section {
  margin-top: 120px;
  padding-bottom: 60px;
  text-align: center;
  background: url("../images/table-bg-img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 25% 100%; }
  .comparision-section .comparison-content .desc {
    margin: 0 auto; }
  .comparision-section .comparison-content .comparison-table {
    padding-top: 80px; }

table {
  width: 100%;
  border-collapse: collapse;
  color: #333333; }
  table thead td {
    border-bottom: 1px solid #D9D9D9;
    padding: 20px 0; }
  table tbody tr td {
    padding-top: 25px; }
    table tbody tr td:nth-child(1) {
      text-align: left;
      padding-left: 20px; }

/**** Service *****/
.service .serviceheading {
  padding: 70px 0;
  text-align: center;
  color: #0a1247; }

.service-btn {
  color: #fff;
  background-color: #0a1247;
  margin: 0 auto; }
  .service-btn span {
    margin: 0; }

.service-content {
  display: flex;
  padding-bottom: 110px; }
  .service-content .service-img img {
    width: 580px;
    height: 415px;
    object-fit: contain; }
  .service-content .content {
    text-align: center; }
    .service-content .content .content-heading {
      padding: 25px 0;
      color: #0a1247; }
    .service-content .content .content-para {
      padding-bottom: 30px; }

.pbx-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/pbx-section.png);
  background-size: cover;
  padding: 100px 0; }
  .pbx-section .pbx-content {
    text-align: center; }
    .pbx-section .pbx-content .pbx-heading {
      color: #ffffff;
      padding-bottom: 30px; }
    .pbx-section .pbx-content .pbx-para {
      color: #ffffff;
      padding-bottom: 40px; }

.overview-section {
  background-image: linear-gradient(to bottom, #f5f8fd, #ffffff 44%);
  padding: 120px 0; }
  .overview-section .overview-content {
    position: relative;
    text-align: center; }
    .overview-section .overview-content .overview-heading {
      color: #0a1247;
      padding-bottom: 10px; }
    .overview-section .overview-content .overview-para {
      margin: 0 auto;
      max-width: 865px;
      padding-bottom: 130px; }
    .overview-section .overview-content .picture {
      position: absolute;
      right: -127px;
      top: 180px; }
    .overview-section .overview-content .key-feature {
      display: flex; }
      .overview-section .overview-content .key-feature .feature {
        width: 300px;
        margin-right: 50px;
        margin-bottom: 50px;
        text-align: left; }
        .overview-section .overview-content .key-feature .feature .feature-img {
          padding-bottom: 20px; }
        .overview-section .overview-content .key-feature .feature .feature-heading {
          font-size: 22px;
          font-weight: 500;
          padding-bottom: 20px;
          color: #0a1247; }
        .overview-section .overview-content .key-feature .feature .feature-para {
          font-size: 16px;
          font-weight: normal;
          color: #666666; }

.learn_more-section {
  background: url(../images/learn-bg.png);
  padding: 60px 0;
  margin-bottom: -120px; }
  .learn_more-section .learn_more-content {
    text-align: center; }
    .learn_more-section .learn_more-content .learn_more-heading {
      font-size: 32px;
      font-weight: 500;
      color: #0a1247;
      padding-bottom: 30px; }
    .learn_more-section .learn_more-content .learn_more-para {
      padding-bottom: 40px;
      font-size: 18px;
      font-weight: normal;
      color: #666666; }

/***** Signup ******/


@media only screen and (max-width: 760px) {
  .login-page-block {
    height: 100vh;
    background-size: 100% 100%;
  }
  .login-page-content{
    justify-content: center !important;
  }
  .login-text{
    display: none;
  }
}

.login-page-block{
  background: url(../images/login-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  /* height: 100vh; */
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100% 100%;
}

.logo-link{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page-content{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
}

.login-page-content .login-block, .login-page-content .password-reset-form {
  width: 100%;
  max-width: 400px;
}

.signup-page,
.login-page {

  /* background-image: linear-gradient(235deg, #f7f7f7, #ffffff 68%, #ffffff);  */
}
  button {
    border: 0;
     background: transparent;
  }
  .signup-page .logo,
  .login-page .logo {
    text-align: center;
  }
  .signup-page .content,
  .login-page .content {

    /* background: url(../images/login-bg.png); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom; */
   }
    .signup-page .content .signup-form,
    .signup-page .content .login-form,
    .login-page .content .signup-form,
    .login-page .content .login-form {
      border-radius: 20px;
      box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 50px; }
      .signup-page .content .signup-form h3,
      .signup-page .content .login-form h3,
      .login-page .content .signup-form h3,
      .login-page .content .login-form h3 {
        color: #395373;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
 }

 .login-page .content .call-system-picker {
     width: 800px;
   }

.signup-page .content .signup-form h3,
.signup-page .content .login-form h3,
.login-page .content .signup-form h3,
.login-page .content .login-form h3 {
  color: #395373;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.login-page .content .call-system-picker {
  width: 800px;
}

.login-page .content .call-system-picker h3 {
  text-align: left;
}

.signup-page .content .signup-form .field-input,
.signup-page .content .login-form .field-input,
.login-page .content .signup-form .field-input,
.login-page .content .login-form .field-input {
  display: flex;
  padding: 10px 0;
}

.signup-page .content .signup-form .field-input svg,
.signup-page .content .login-form .field-input svg,
.login-page .content .signup-form .field-input svg,
.login-page .content .login-form .field-input svg {
  margin-right: 20px;
}

.login-page .content .login-form .field-input md-input-container {
  max-height: 30px;
}

.signup-page .content .signup-form .field-input input,
.signup-page .content .login-form .field-input input,
.login-page .content .signup-form .field-input input,
.login-page .content .login-form .field-input input {
  border: none;
  width: 100%;
  font-size: 16px;
  color: #a0abae;
  margin: 0;
  border-bottom: 1px solid #e3e3e3;
}

.signup-page .content .signup-form .field-input .fname,
.signup-page .content .login-form .field-input .fname,
.login-page .content .signup-form .field-input .fname,
.login-page .content .login-form .field-input .fname {
  display: flex;
  margin-right: 10px;
}

.signup-page .content .signup-form .field-input .input-box,
.signup-page .content .login-form .field-input .input-box,
.login-page .content .signup-form .field-input .input-box,
.login-page .content .login-form .field-input .input-box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.login-page .content .login-form .field-input .input-box.no-margin {
  margin-bottom: 0px;
}

.signup-page .content .signup-form .field-input .input-box .input-field,
.signup-page .content .login-form .field-input .input-box .input-field,
.login-page .content .signup-form .field-input .input-box .input-field,
.login-page .content .login-form .field-input .input-box .input-field {
  width: 100%;
  margin: 0;
}

.signup-page .content .signup-form .field-input .input-box .input-field.lname,
.signup-page .content .login-form .field-input .input-box .input-field.lname,
.login-page .content .signup-form .field-input .input-box .input-field.lname,
.login-page .content .login-form .field-input .input-box .input-field.lname {
  padding-left: 20px;
  border-left: 2px dotted #f4f2f2;
}

.signup-page
  .content
  .signup-form
  .field-input
  .input-box
  .input-field.lname
  label,
.signup-page
  .content
  .login-form
  .field-input
  .input-box
  .input-field.lname
  label,
.login-page
  .content
  .signup-form
  .field-input
  .input-box
  .input-field.lname
  label,
.login-page
  .content
  .login-form
  .field-input
  .input-box
  .input-field.lname
  label {
  padding-left: 20px;
}

.signup-page
  .content
  .signup-form
  .field-input
  .input-box
  .input-field
  .validate,
.signup-page
  .content
  .login-form
  .field-input
  .input-box
  .input-field
  .validate,
.login-page
  .content
  .signup-form
  .field-input
  .input-box
  .input-field
  .validate,
.login-page
  .content
  .login-form
  .field-input
  .input-box
  .input-field
  .validate {
  border-bottom: solid 1px #f4f2f2;
}

.signup-page .content .signup-form .signup-btn,
.signup-page .content .signup-form .login-btn,
.signup-page .content .login-form .signup-btn,
.signup-page .content .login-form .login-btn,
.login-page .content .signup-form .signup-btn,
.login-page .content .signup-form .login-btn,
.login-page .content .login-form .signup-btn,
.login-page .content .login-form .login-btn {
  display: flex;
  justify-content: flex-end;
}

.signup-page .content .signup-form .signup-btn span,
.signup-page .content .signup-form .login-btn span,
.signup-page .content .login-form .signup-btn span,
.signup-page .content .login-form .login-btn span,
.login-page .content .signup-form .signup-btn span,
.login-page .content .signup-form .login-btn span,
.login-page .content .login-form .signup-btn span,
.login-page .content .login-form .login-btn span {
  width: 100%;
  /* padding: 15px 40px; */
  border-radius: 35px;
  background-color: #395373;
  color: #fff;
}

.login-page .content .login-form span.disabled {
  background-color: darkGray;
  cursor: not-allowed;
}

.signup-page .content .text,
.login-page .content .text {
  text-align: right;
  max-width: 342px;
}

.signup-page .content .text h2,
.login-page .content .text h2 {
  color: #395373;
  font-size: 36px;
  font-weight: bold;
  position: relative;
}

.signup-page .content .text h2::after,
.login-page .content .text h2::after {
  position: absolute;
  right: 0;
  content: "";
  width: 180px;
  height: 4px;
  background: #395373;
  border-radius: 2px;
  overflow: hidden;
  bottom: -10px;
}

.signup-page .content .text p,
.login-page .content .text p {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 10px;
}

.signup-page .content .text p span,
.login-page .content .text p span {
  color: #395373;
}

/****** Login ********/
.login-page .content .login-form .field-input {
  width: 400px;
}

.login-page .content .text h2::after {
  transform: translateX(-44%);
}

.login-page .content .login-form {
  /* width: 316px; */
}

.login-page .content .login-form .login-btn {
  display: flex;
  justify-content: flex-start;
}

.login-btn .login-button-custom {
  width: 100%;
  /*padding: 15px 70px !important;*/
}

.login-btn .login-custom {
  padding: 15px 70px !important;
}

.login-page .content .login-form #gSignIn .abcRioButtonBlue {
  width: 100% !important;
}

.login-page .content .login-form .field-input {
  width: 100%;
}

.login-page .content .login-form .field-input.verify {
    width: 100%; }
.login-page .field-input.verify md-select {
  margin: 3px 0 0 0;
}
/****** Verification ******/
.verification-page {
  background-image: linear-gradient(235deg, #f7f7f7, #ffffff 68%, #ffffff); }
  .verification-page .logo {
    text-align: center;
    padding-top: 40px; }
  .verification-page .content {
    margin: 60px 0 0;
    display: flex;
    justify-content: flex-start;
    position: relative; }
    .verification-page .content .text {
      padding-top: 60px;
      margin-left: 140px;
      z-index: 1; }
      .verification-page .content .text h2 {
        color: #395373;
        font-size: 36px;
        font-weight: bold;
        position: relative; }
        .verification-page .content .text h2::after {
          position: absolute;
          left: 0;
          content: '';
          width: 180px;
          height: 4px;
          background: #395373;
          border-radius: 2px;
          overflow: hidden;
          bottom: -10px; }
      .verification-page .content .text p {
        font-size: 18px;
        font-weight: 500;
        color: #666666;
        margin-top: 30px;
        max-width: 394px; }
      .verification-page .content .text .verify-form {
        display: flex;
        align-items: center;
        padding: 40px;
        margin-top: 100px;
        border-radius: 10px;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff; }
        .verification-page .content .text .verify-form .details {
          display: flex;
          align-items: center; }
          .verification-page .content .text .verify-form .details svg {
            margin-right: 20px; }
          .verification-page .content .text .verify-form .details .input-field {
            margin: 0; }
            .verification-page .content .text .verify-form .details .input-field .validate {
              border: none;
              color: #a0abae;
              font-size: 16px;
              width: 225px;
              border-bottom: solid 1px #f4f2f2;
              margin: 0; }
            .verification-page .content .text .verify-form .details .input-field.separator {
              border-left: 2px dotted #f4f2f2;
              padding-left: 25px;
              margin-left: 25px; }
              .verification-page .content .text .verify-form .details .input-field.separator label {
                padding-left: 25px; }
        .verification-page .content .text .verify-form .submit-btn {
          padding-left: 50px;
          display: flex;
          justify-content: flex-end; }
          .verification-page .content .text .verify-form .submit-btn span {
            padding: 15px 40px;
            border-radius: 35px;
            background-color: #395373;
            color: #fff; }
    .verification-page .content .image {
      position: absolute;
      right: 0;
      max-height: 700px;
      overflow: hidden; }

.footer {
  padding: 50px 0;
  margin-top: 120px;
  background: #EBFCFC;
  position: relative;
  background-image: url("../images/footer-bg-img.png");
  background-repeat: no-repeat; }
  .footer .footer-img {
    position: absolute;
    top: -50px; }
  .footer .footer-menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .footer .footer-menu ul li {
      margin-left: 50px; }
      .footer .footer-menu ul li a {
        position: relative;
        color: #0A1247; }
        .footer .footer-menu ul li a::after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100%;
          transform: scale(0);
          background: #0A1247;
          bottom: -5px;
          left: 0;
          transition: all 0.5s ease; }
        .footer .footer-menu ul li a:hover::after {
          transform: scale(0.8); }

.privacy {
  background: #0A1247;
  padding: 20px 0; }
  .privacy .privacy-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .privacy .privacy-content p {
      color: #fff;
      font-size: 14px; }
    .privacy .privacy-content .social-media {
      display: flex; }
      .privacy .privacy-content .social-media img {
        margin-left: 20px;
        cursor: pointer; }

        .login-image {
                      position: absolute;
            right: 0;
            max-height: 700px;
            overflow: hidden;
        }


.privacy .privacy-content p {
  color: #fff;
  font-size: 14px;
}

.privacy .privacy-content .social-media {
  display: flex;
}

.privacy .privacy-content .social-media img {
  margin-left: 20px;
  cursor: pointer;
}

.login-image {
  position: absolute;
  right: 0;
  max-height: 700px;
  overflow: hidden;
}

/*# sourceMappingURL=custom.css.map */

/*
* custom sidebar styles for dashboard for mobile responsiveness
*/
/* .sidebar {
  width: 0px;
}

.extended .sidebar {
  width: 200px;
}

.extended .sidebar .top-logo-extended {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    width: 80px;
  }

  .extended .sidebar .top-logo-extended {
    display: block;
  }
} */
.logo img{
  max-width: 300px;
}
button.custom {
  width: 100%;
    padding: 15px 40px;
    border-radius: 35px;
    background-color: #395373;
    color: #fff;
}

ul.no-styling {
  margin: 0;
  padding: 0;
  list-style: none;
}

.m-16{
  margin: 16px !important;
}

.p-16{
  padding: 16px !important;
}

.microsoft-login-btn {
  margin-top: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  border-radius: 50px;
}
.microsoft-login-btn .login-button-custom {
  flex-grow: 1;
}

.microsoft-login-btn .icon-block {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-subscription-block {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.cancel-subscription-block .cancel-subscription-note {
  background-color: #3a53732b;
  padding: 10px;
  border-radius: 5px;
}

.cancel-subscription-block .cancel-subscription-header {
  font-size: 20px;
  padding: 0px 0px 20px;
}

.cancel-subscription-block .cancel-subscription-description {
  font-size: 14px;
  padding: 0px 0px 20px;
}

.confirm-cancel .confirm-button{
  padding: 0px 10px 0px 10px;
}

.delete-subscription{
  padding: 0px 4px 0px 0px;
  font-size: 18px;
}

.cancel-subscription-block .confirm-cancel{
  padding: 10px 0px 0px;
  text-align: right;
}

.cancel-subscription-block .cancel-subscription-note .info-cancel{
  padding: 0px 0px 0px 6px;
}

span.spacer {
  flex: 1 1 auto;
}

.search-section {
  position: relative;
}

.search-section i.first-element {
  position: absolute;
  z-index: 99;
  height: calc(100% - 32px);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-section i.last-element {
  position: absolute;
  z-index: 99;
  top: 15px;
  right: 15px;
  height: calc(100% - 32px);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-input-class input {
  padding-left: 40px !important;
  background-color: #f5f5f5 !important;
  border-radius: 8px;
}

.search-input-class .md-whiteframe-z1 {
  box-shadow: none !important;
  background-color: #f5f5f5!important;
  border-radius: 8px;
}

.search-section .custom-autocomplete {
  padding: 10px 40px;
  border: none;
  background-color: #f5f5f5!important;
  border-radius: 8px;
  width: 100%;
}

.search-section .custom-autocomplete-dropdown {
  position: absolute;
  width: calc(100% - 32px);
  padding: 10px 0;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.16) 0 1px 4px;
  border-radius: 10px;
  max-height: 294px;
  overflow-y: auto;
  display: grid;
  gap: 2px;
  z-index: 1;
}

.search-section .custom-autocomplete-dropdown .custom-autocomplete-dropdown-item {
  width: 100%;
  padding: 10px 12px;
  cursor: pointer;
}
.search-section .custom-autocomplete-dropdown .custom-autocomplete-dropdown-item:hover {
  background-color: #f5f5f5;
}

.search-section .custom-autocomplete-dropdown .custom-autocomplete-dropdown-key {
  background-color: #e6e6e6;
  cursor: not-allowed;
  pointer-events: none;
  padding: 8px 10px;
  text-transform: capitalize;
}

.auth-app-code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.qr-code-auth{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
}

.auth-code-width{
  width: 30%;
}

.radio-group{
  margin-bottom: 45px;
}
.reset-otp {
  text-align: right;
}

.reset-otp span {
  cursor: pointer;
}

.request-otp-info {
  text-align: center;
  margin: 15px 0;
  font-size: 15px;
}

.request-assistant {
  text-align: center;
  margin-top: 15px;
}
.request-assistant span {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.form-port-details{
  border: 1px solid #f5f5f5;
  padding: 0px 20px 0px;
  margin-top: 15px;
}

.stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 25%;
  text-align: center;
}

.step-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.step-title {
  font-size: 14px;
  color: #777;
}

.step-line {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ccc;
  top: 15px;
  left: calc(50% + 15px);
}

.step:last-child .step-line {
  display: none;
}

.step.active .step-number {
  border-color: #4050b5;
  color: #4050b5;
}


.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}

.next-step-button{
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 15px;
}

.file-upload-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.upload-icon {
  font-size: 60px;
  color: #ccc;
}

.upload-label-doc{
  margin-top: 25px;
  margin-bottom: 15px;
}

.dash-border {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
}

.upload-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #3949ab;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

/* .upload-btn:hover {
  background-color: #aaa;
} */

.file-format{
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
}

.selected-file {
  display: flex;
  margin-top: 4px;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  align-items: center;
  justify-content: space-between;
}

.selected-file i {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.continue-to-process {
  text-align: center;
}

.continue-to-process button {
  padding: 5px 50px;
}

.add-block-number-modal {
  width: 100%;
  max-width: 500px;
}

.country-width{
  width: 100px;
}

.info-phone-number{
  background-color: #3a53732b;
  padding: 10px;
  border-radius: 5px;
}

.info-phone{
  padding: 0px 0px 0px 6px;
}

.info-phone-note{
  padding: 15px;
}

.country-field{
  padding: 0px 20px 0px 20px;
}

.md-input-container {
  margin: 0px;
}

.card-bottom{
  padding-bottom: 0 !important;
}

.submit-button{
  padding-top: 0 !important;
}

.form-port-details {
  flex-wrap: wrap;
}

.port-number-details {
  display: flex;
  width: 100%;
  gap: 30px;
}

.port-number-details .action-button {
  margin-top: 14px;
}

.port-number-details .porting-number-counts {
  margin-top: 30px;
}

.form-port-details .action-port-button {
  display: flex;
  justify-content: center;

}

.form-port-details .action-port-button button {
  margin: 0;
  padding: 0 15px;
  margin-top: 12px;
}

.form-port-details .action-port-button button.activated-button {
  background-color: white !important;
  color: black !important;
}

.form-port-details .action-port-button button.single-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-port-details .action-port-button button.multiple-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.multi-port-style{
  width: 100%;
  border: 1px solid #f5f5f5;
  padding: 10px 25px;
  margin-bottom: 20px;
}

.multi-port-input{
  margin-bottom: 0px;
}

.box{
  font-size: 14px;
  color: red;
  margin-top: 4px;
  margin-bottom: 4px;
}

.step-check-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.step-check-icon:before {
  content: "\2713";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
}

.checked-circle {
  font-size: 38px;
  color: #109c10;
}

.pricing-plan-container{
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-header{
  align-items: center;
}

.plan-cards{
  width: 295px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  height: 980px;
}

.popular {
  position: absolute;
  background: #ff655d;
  top: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
  transform: rotate(45deg) translateY(-120px);
  transform-origin: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.popular i{
  font-size: 24px;
  color: #fff;
}

.popular p {
  font-size: 10px;
  color: #fff;
  font-weight: 400;
}

.pricing-content{
  padding: 0px 24px 0px 40px;
}

.pricing-content li {
  line-height: 2;
}

.started-button{
  border: 2px solid #181147;
  color: #181147;
  width: 130px;
  height: 50px;
  font-weight: 400;
}

.started-button:hover {
  background-color: #181147 !important;
  color: white;
}

.pricing-plan-container md-card-title{
  flex: 0;
}

.button-plan{
  margin-top: auto;
  padding: 30px;
}

md-content{
  background-color: white;
}

.plan-info li{
  list-style: disc;
}

.plan-info li::marker{
  color: #6ad7fa;
}

.featured-popular {
  border: 5px solid #ff655d;
}

.plan-info .plan-plus{
  list-style: none;
  margin-top: 35px;
  font-size: 12px;
}

.started-button-downgrade{
  width: 150px;
  height: 50px;
  font-weight: 400;
  border: 2px solid;
}
