<!-- exact table from live demo -->
<md-card md-theme="'default'"" md-theme-watch>
  <div ng-show="numbers.length === 0" class="no-results">
    <center>
      <h5>No numbers listed</h5>
      <md-button ng-click="buyNumber()" class="md-raised md-primary">Lookup Numbers / Buy Number</md-button>
    </center>
  </div>
  <div ng-show="numbers.length > 0">
    <md-table-container>
      <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th md-column md-order-by="nameToLower"><span>Number</span></th>
            <th md-column>Region</th>
            <th md-column>Monthly Cost</th>
            <th md-column>&nbsp;</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="number" md-select-id="name" md-auto-select ng-repeat="number in numbers">
            <td md-cell>{{number.number}}</td>
            <td md-cell>{{number.region}}</td>
            <td md-cell>{{number.monthly_cost}}</td>
            <td md-cell>
              <md-button ng-click="editNumber(number)" class="md-icon-button" aria-label="Settings">
                  <md-icon ><i class="mdi mdi-pencil"></i></md-icon>
              </md-button>
              <md-button ng-click="deleteNumber($event, number)" class="md-icon-button" aria-label="Settings">
                  <md-icon ><i class="mdi mdi-delete"></i></md-icon>
              </md-button>

            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</md-card>