<!-- exact table from live demo -->
<md-card md-theme="'default'"" md-theme-watch>
  <md-card-title>
    <md-card-title-text>
      <span class=" md-headline">{{number.number}}</span>
    <span class="md-subhead">Below are settings to configure "{{number.number}}"</span>
    </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form ng-submit="saveNumber()">
            <div layout="row">
                <div flex="95">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="number.name">
                    </md-input-container>
                </div>
                <div flex="5">
                    <md-icon class="tooltip-icon">
                        <i class="mdi mdi-information"></i>
                        <md-tooltip class="helper-tooltip" md-direction="top">
                            The name of your number. this can also be a tag or an identifier you use to search/filter
                            for the number.
                        </md-tooltip>
                    </md-icon>
                </div>
            </div>
            <div layout="row">
                <div flex="66">
                    <div layout="row">
                        <div flex="95">
                            <md-input-container>
                                <label>DID Action</label>
                                <md-select ng-model="number.did_action" ng-change="changeDIDAction(number.did_action)">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-repeat="action in didActions" ng-value="action.value">
                                        {{action.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="5">
                            <md-icon class="tooltip-icon">
                                <i class="mdi mdi-information"></i>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    The flow your number will use for inbound calling.
                                </md-tooltip>
                            </md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div flex="66">
                    <div layout="row">
                        <div flex="95">
                            <md-chips ng-model="number.tags" name="tags" md-removable="true" md-max-chips="5"
                                placeholder="Enter a tag..." input-aria-label="Fruit names">
                                <md-chip-template>
                                    <strong>{{$chip}}</strong>
                                    <!--<em>(tag)</em>-->
                                </md-chip-template>
                            </md-chips>
                                            <small>* type in each tag followed by enter</small>
                        </div>
                        <div flex="5">
                            <md-icon class="tooltip-icon">
                                <i class="mdi mdi-information"></i>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    Tags for your DID number
                                </md-tooltip>
                            </md-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row">
                <div flex="66">
                    <div layout="row">
                        <div flex="95">
                            <md-input-container>
                                <label>Attached Flow</label>
                                <md-select ng-model="number.flow_id" ng-change="changeFlow(number.flow_id)">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-repeat="flow in flows" ng-value="flow.id">
                                        {{flow.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="5">
                            <md-icon class="tooltip-icon">
                                <i class="mdi mdi-information"></i>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    The flow your number will use for inbound calling.
                                </md-tooltip>
                            </md-icon>
                        </div>
                    </div>
                </div>
                <div flex="33">
                <md-button ng-show="!number.flow_id" ng-click="setupFlow($event, values)"
                    class="md-raised">Setup
                </md-button>
                    <md-button ng-show="number.flow_id" ng-click="editFlow(number.flow_public_id)" class="md-raised">
                        Edit Flow
                    </md-button>
                </div>
            </div>
                            <div class="form-btns">
                                <div class="submit">
                                    <md-button ng-click="saveNumber()" type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
                                </div>
                                <div class="cancel">
                                    <a href="" ng-click="$shared.cancelForm()">Cancel</a>
                                </div>
                            </div>
        </form>
    </md-card-content>
</md-card>
