<div class="login-overlay">
	<div class="form-container shadow rounded">
		<center>
		<div class="icon">
			<a href="index.html"><i class="mdi mdi-alert"></i></a>
			<div class="header">
				Whoops!
			</div>
		</div>
		<div class="inputs">

			<h5 class="four">404</h5>
			<div class="not-found">
				Page not found!
<br/>
				<!--<a class="go-back" ng-click="goBack()">Go Back</a>-->
				<md-button ng-click="goBack()" type="submit" class="md-raised md-primary no-margin-sides">Go Back</md-button>

			</div>

		</div>
	</center>
	</div>
</div>
