<div>
    <center>
    <h2>Upgrade Plan</h2>
    </center>
    <div class="pricing-plan-container" flex="80" layout="row">
        <div ng-repeat="plan in plans | orderBy: '-rank'">
            <md-card ng-show="plan.include_in_pricing_pages" class="plan-cards" ng-class="{'featured-popular': plan.featured_plan}">
                <div ng-show="plan.featured_plan" class="popular">
                    <i class="mdi mdi-star"></i>
                    <p>MOST POPULAR</p>
                </div>
                <md-card-title>
                    <md-card-title-text class="pricing-header">
                        <span class="md-headline">{{ plan.nice_name }}</span>
                        <span class="md-subhead">
                           <h1>${{ plan.monthly_charge }}</h1><small>Per month/user </small>
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-content>
                    <md-card-content class="pricing-content">
                        <ul class="plan-info">
                            <h5 class="no-margin-top-bottom">&nbsp;</h5>
                            <li ng-show="plan.fax">Fax included</li>

                            <li ng-show="plan.im_integrations">IM support</li>

                            <li ng-show="plan.productivity_integrations">Productivity tools</li>

                            <li ng-show="plan.pay_as_you_go"><b>Metered</b> minutes outbound in US or Canada</li>

                            <li ng-show="plan.pay_as_you_go"><b>Metered</b> inbound calling</li>

                            <li ng-show="plan.extensions"><b>5</b> Extensions</li>

                            <li ng-show="plan.pay_as_you_go"><b>1GB</b> Voicemail</li>

                            <li ng-show="plan.fraud_protection">Fraud Protection</li>

                            <li ng-show="plan.crm_integrations">CRM integrations</li>

                            <li ng-show="plan.voice_analytics">Voice analytics</li>

                            <li ng-show="plan.pay_as_you_go">100 Fax per month</li>

                            <li ng-show="plan.programmable_toolkit">Programmable APIs</li>

                            <li ng-show="plan.sso">SSO support</li>

                            <li ng-show="plan.provisioner">Phone provisioner</li>

                            <li ng-show="plan.registration_plan">Registration plan</li>

                            <li ng-show="plan.recording_space">Recording space(<b>{{plan.recording_space}}</b>)</li>

                            <li ng-show="plan.call_duration">Call duration(<b>{{plan.call_duration}}</b>)</li>

                            <li ng-show="plan.multiple_sip_domains">Multiple sip domains</li>

                            <li ng-show="plan.vpn">Internal VPN support</li>

                            <li class="plan-plus" ng-show="plan.pay_as_you_go"><b>Plus:</b></li>

                            <li ng-show="plan.pay_as_you_go">Unlimited calling between extensions</li>

                            <li ng-show="plan.pay_as_you_go">Standard Call Features</li>
                        </ul>
                    </md-card-content>
                </md-content>
                <md-card-actions layout="row" layout-align="center" class="button-plan">
                    <md-button ng-show="canUpgrade(plan)" ng-click="upgradePlan(plan.key_name)" type="submit" class="no-margin-sides started-button">
                        Select</md-button>
                    <md-button ng-show="!canUpgrade(plan)" ng-click="upgradePlan(plan.key_name)" type="submit" class="no-margin-sides md-primary md-raised started-button-downgrade" ng-disabled="true">
                        Cannot Downgrade</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>
