<div ng-show="!pagination.checkIfSearched() && !$shared.isInLoadingState() && recordings.length === 0" class="no-results">
  <md-card md-theme="'default'"" md-theme-watch>
    <div class="no-results">
      <div class="inner">
      <center>
        <h5>No recordings listed</h5>
      </center>
    </div>
    </div>
  </md-card>
</div>
<div ng-show="pagination.checkIfSearched() || (!pagination.checkIfSearched() && recordings.length > 0)" class="recording-screen-block">
    <md-card md-theme="'default'"" md-theme-watch class="card-radius">
        <md-card-title class="p-16">
            <span class="md-headline title-text">Recordings Filter</span>
        </md-card-title>
        <md-content>
            <div class="filte-block p-16">
                <div class="tag-block">
                    <md-input-container>
                        <label>Tags</label>
                        <input placeholder="comma separated tags. e.g: voicemail, 1000" ng-model="filterArgs.tags" type="text">
                    </md-input-container>
                </div>

                <div class="filter-side">
                    <div layout="row" class="filter-row">
                        <div class="from-to-text">
                            <md-input-container >
                                <label>From</label>
                                <input ng-model="filterArgs.from" type="text" class="start-date custom-input" />
                            </md-input-container>
                        </div>
                        <div class="from-to-text">
                            <md-input-container >
                                <label>To</label>
                                <input ng-model="filterArgs.to" type="text"  class="start-date custom-input" />
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container >
                                <label>Date start</label>
                                <input ng-model="filterArgs.start_date" type="date"  class="start-date custom-input" />
                            </md-input-container>
                        </div>
                        <div>
                            <md-input-container >
                                <label>Date end</label>
                                <input ng-model="filterArgs.end_date" type="date"  class="end-date custom-input" />

                            </md-input-container>
                        </div>
                        <div class="m-lr-16">
                            <md-button  class="md-raised md-primary" ng-click="filter()">
                                <span>
                                    <md-icon class="tooltip-icon">
                                        <i class="mdi mdi-filter-variant"></i>
                                    </md-icon>
                                    Filter
                                </span>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    Filter
                                </md-tooltip>
                            </md-button>
                        </div>

                    </div>
                </div>
            </div>

        </md-content>
    </md-card>
<div ng-show="pagination.checkIfSearched() && !$shared.isInLoadingState() && recordings.length === 0" class="no-results">
  <md-card md-theme="'default'"" md-theme-watch class="card-radius">
    <div class="no-results">
      <div class="inner">
      <center>
        <h5>No recordings found</h5>
      </center>
    </div>
    </div>
  </md-card>
</div>
<div ng-show="recordings.length>0">
  <md-card md-theme="'default'"" md-theme-watch class="card-radius">
    <md-table-container>
      <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th md-column><md-checkbox ng-model="selectedAll" ng-change="Backend.selectAll(selectedAll, 'recordings', recordings)" aria-label="Checkbox" class="md-warn md-align-top-left" flex></th>
            <th md-column><span>From</span></th>
            <th md-column>To</th>
            <th md-column>Direction</th>
            <th md-column>Tags</th>
            <th md-column>Recording</th>
            <th md-column>&nbsp;</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="number" md-select-id="name" md-auto-select ng-repeat="recording in recordings">
                <td md-cell>
                    <md-checkbox ng-model="recording.checked" aria-label="Checkbox" class="md-warn md-align-top-left" flex>
                </td>
            <td md-cell>{{recording.call_from}}</td>
            <td md-cell>{{recording.call_to}}</td>
            <td md-cell>{{recording.call_direction}}</td>
            <td md-cell>{{recording.tags}}</td>
            <td md-cell>
              <audio class="small" controls>
                <source ng-src="{{recording.public_url}}" type="audio/wav"></source>
              </audio>
            </td>
            <td md-cell>
              <md-button ng-click="deleteRecording($event, recording)" class="md-icon-button" aria-label="Flow">
                  <md-icon >

                    <i class="mdi mdi-delete"></i>
                         <md-tooltip class="helper-tooltip" md-direction="top">
                              Delete recording
                          </md-tooltip>
                  </md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>
  <div layout="row" layout-align="end">

    <div>
      <md-button ng-show="pagination.hasPrev()" ng-click="pagination.prevPage()" class="md-raised md-primary">Prev Page</md-button>
      <md-button ng-show="!pagination.hasPrev()" disabled="" ng-click="pagination.prevPage()" class="md-raised md-primary">Prev Page</md-button>
      <md-button ng-show="pagination.hasNext()" ng-click="pagination.nextPage()" class="md-raised md-primary">Next Page</md-button>
      <md-button ng-show="!pagination.hasNext()" disabled="" ng-click="pagination.nextPage()" class="md-raised md-primary">Next Page</md-button>
    </div>
  </div>
</div>
</div>
