<div>
	<div class="login-overlay">
		<center>
			<div ng-show="isLoading">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					<p>Logging you in..</p>
			</div>
		</center>
		<div class="form-container shadow">
				<div class="inner">
					<center>
				<div class="icon">
					<div class="header">
						<img class="login-logo" ng-src="{{'/images/logo-blue.png'}}" width="200" />
						<h4>Reset Password</h4>
						<p>
							set a new password for your account.
						</p>
					</div>
				</div>
			</center>
				<div class="inputs">
					<div class="box invalid-login">
						<center>
							<div ng-show="couldNotReset" class="red">{{couldNotResetMsg}}</div>
						</center>
					</div>
					<form ng-submit="submit($event, resetForm)" name="resetForm" novalidate>
						<md-input-container>
							<input name="email" ng-model="user.email" type="email" placeholder="Email" required="">
							<div ng-show="triedSubmit">
								<div class="box">
									<div ng-show="resetForm.email.$error.required">This field is required</div>
								</div>
							</div>
						</md-input-container>
						<md-input-container>
							<input name="password" ng-model="user.password" type="password" placeholder="Password" required="">
							<div ng-show="triedSubmit">
								<div class="box">
									<div ng-show="resetForm.password.$error.required">This field is required</div>
								</div>
							</div>
						</md-input-container>
						<md-input-container>
							<input name="confirmPassword" ng-model="user.confirmPassword" type="password" placeholder="Confirm Password" required="">
							<div ng-show="triedSubmit">
								<div class="box">
									<div ng-show="passwordsDontMatch">Passwords don't match</div>
								</div>
							</div>
						</md-input-container>
						<center>
						<div class="buttons">
							<div class="link" style="padding-bottom:0;">
								<md-button type="submit" class="md-raised primary">Reset</md-button>
							</div>
							<a ui-sref="login">Login</a>
							<br/>
							<a ui-sref="register">Register here</a>
						</div>
					</center>
					</form>
				</div>
			</div>
		</div>
		<footer class="login-footer">
			<div class="left-section">
				&copy; LineBlocs.com
			</div>

			<div class="right-section">
			</div>
		</footer>
	</div>
</div>
