<md-card md-theme="'default'"" md-theme-watch>
  <!--
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">User Settings</span>
      <span class="md-subhead">edit your settings</span>
    </md-card-title-text>
  </md-card-title>
-->
  <md-card-content>
    <md-content>
    <md-tabs class="md-primary" md-center-tabs layout-fill md-dynamic-height="true">
      <md-tab label="Account Info">
        <md-content class="md-padding">
          <form ng-submit="submitSettings($event, settingsForm)" name="settingsForm" novalidate>
                <md-input-container>
                  <input name="first_name" ng-model="user.first_name" type="text" placeholder="First Name" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="settingsForm.first_name.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="last_name" ng-model="user.last_name" type="text" placeholder="Last Name" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="settingsForm.last_name.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="email" ng-model="user.email" type="email" placeholder="Company Email" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="settingsForm.email.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                            <div class="form-btns">
                                <div class="submit">
                                    <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
                                </div>
                                <div class="cancel">
                                    <a href="" ng-click="$shared.cancelForm()">Cancel</a>
                                </div>
                            </div>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Personal Info">
        <md-content class="md-padding">
          <form ng-submit="submitPersonal($event, personalForm)" name="personalForm" novalidate>



                <md-input-container>
                  <input name="address_line_1" ng-model="user.address_line_1" type="text" placeholder="Address Line 1" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.address_line_1.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container>
                  <input name="address_line_2" ng-model="user.address_line_2" type="text" placeholder="Address Line 2" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.address_line_2.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container>
                  <input name="postal_code" ng-model="user.postal_code" type="text" placeholder="Postal Code" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.postal_code.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="state" ng-model="user.state" type="text" placeholder="State" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.state.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="city" ng-model="user.city" type="text" placeholder="City" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.city.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Country</label>
                  <md-select ng-model="user.country" ng-change="changeCountry(user.country)" required>
                    <md-option ng-repeat="country in $shared.billingCountries" ng-value="country.iso">
                      {{country.name}}
                    </md-option>
                  </md-select>
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.country.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                                        <div class="form-btns">
                                <div class="submit">
                                    <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
                                </div>
                                <div class="cancel">
                                    <a href="" ng-click="$shared.cancelForm()">Cancel</a>
                                </div>
                            </div>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Password">
        <md-content class="md-padding">
          <form ng-submit="submitPasswords($event, passwordsForm)" name="passwordsForm" novalidate>
            <div layout="row" layout-wrap="">
                <div flex="66">
                <md-input-container>
                  <input name="password" ng-model="user.password" type="{{ui.show1Secret?'text':'password'}}" placeholder="Password" required="" minlength="5">
                  <small>Type new password to change</small>
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="passwordsForm.password.$error.minlength">Please enter 5 characters or more</div>
                      <div ng-show="passwordsForm.password.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
              </div>
                <div flex="33">
                                    <md-button ng-show="!ui.show1Secret" ng-click="show1Secret()" class="md-icon-button password-icon"
                                        aria-label="Settings">
                                        <md-icon>
                                            <i class="mdi mdi-eye"></i>
                                        </md-icon>
                                    </md-button>
                                    <md-button ng-show="ui.show1Secret" ng-click="hide1Secret()" class="md-icon-button password-icon"
                                        aria-label="Settings">
                                        <md-icon>
                                            <i class="mdi mdi-eye-off"></i>
                                        </md-icon>
                                    </md-button>
                </div>
              </div>
            <div layout="row" layout-wrap="">
                <div flex="66">
                <md-input-container>
                  <input name="password2" ng-model="user.password2" type="{{ui.show2Secret?'text':'password'}}" placeholder="Confirm Password" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="passwordsDontMatch">Passwords don't match</div>
                    </div>
                  </div>
                </md-input-container>
              </div>
<div flex="33">
                                    <md-button ng-show="!ui.show2Secret" ng-click="show2Secret()" class="md-icon-button password-icon"
                                        aria-label="Settings">
                                        <md-icon>
                                            <i class="mdi mdi-eye"></i>
                                        </md-icon>
                                    </md-button>
                                    <md-button ng-show="ui.show2Secret" ng-click="hide2Secret()" class="md-icon-button password-icon"
                                        aria-label="Settings">
                                        <md-icon>
                                            <i class="mdi mdi-eye-off"></i>
                                        </md-icon>
                                    </md-button>
                </div>
              </div>
                                        <div class="form-btns">
                                <div class="submit">
                                    <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
                                </div>
                                <div class="cancel">
                                    <a href="" ng-click="$shared.cancelForm()">Cancel</a>
                                </div>
                            </div>
            </form>
        </md-content>
       </md-tab>

       <md-tab label="Security">
           <div layout="column" class="md-padding auth-app-code" >
            <p>Note: Enabling two-factor authentication (2FA) is a simple and effective way to secure your accounts. To get started, Enable it below. In case of sms you will receive otp on phone and for the authenticator app need to download an authenticator app on your mobile device and link it to your account by scanning a QR code. Once set up, the app will generate a unique code that you'll need to enter in addition to your password to access your account.</p>
            <md-switch class="md-primary" ng-model="user.enable_2fa" aria-label="switch" ng-change="onEnable2FA()">
              Enable Two-Factor Authentication(2FA)
            </md-switch>
            <md-radio-group layout="row" class="radio-group" ng-if="user.enable_2fa" ng-model="user.type_of_2fa" aria-labelledby="auth2FA">
                <md-radio-button class="md-primary" ng-repeat="option in type_of_2fa" ng-value="option.value" ng-click="onOptionClick(option)">{{ option.name }}</md-radio-button>
            </md-radio-group>
            <div ng-if="user.type_of_2fa === 'totp' && user.enable_2fa">
                <p>Scan the QR code into your app</p>
                <img ng-src="data:image/png;base64,{{base64_contents}}" class="qr-code-auth" alt="QR" />
            </div>
        </div>
        <div class="form-btns">
            <div class="submit">
                <md-button type="submit" class="md-raised md-primary no-margin-sides" ng-click="authAppSuccess()">Submit</md-button>
            </div>
        </div>
       </md-tab>
    </md-tabs>
</md-card>
