<md-card md-theme="'default'"" md-theme-watch>
  <!--
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">User Settings</span>
      <span class="md-subhead">edit your settings</span>
    </md-card-title-text>
  </md-card-title>
-->
  <md-card-content>
    <md-content>
    <md-tabs class="md-primary" md-center-tabs layout-fill md-dynamic-height="true">
      <md-tab label="Account Info">
        <md-content class="md-padding">
          <form ng-submit="submitSettings($event, settingsForm)" name="settingsForm" novalidate>
                <md-input-container>
                  <input name="first_name" ng-model="user.first_name" type="text" placeholder="First Name" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="settingsForm.first_name.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="last_name" ng-model="user.last_name" type="text" placeholder="Last Name" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="settingsForm.last_name.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="email" ng-model="user.email" type="email" placeholder="Company Email" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="settingsForm.email.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
            <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Personal Info">
        <md-content class="md-padding">
          <form ng-submit="submitPersonal($event, personalForm)" name="personalForm" novalidate>



                <md-input-container>
                  <input name="address_line_1" ng-model="user.address_line_1" type="text" placeholder="Address Line 1" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.address_line_1.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container>
                  <input name="address_line_2" ng-model="user.address_line_2" type="text" placeholder="Address Line 2" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.address_line_2.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>

                <md-input-container>
                  <input name="postal_code" ng-model="user.postal_code" type="text" placeholder="Postal Code" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.postal_code.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="state" ng-model="user.state" type="text" placeholder="State" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.state.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="city" ng-model="user.city" type="text" placeholder="City" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.city.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Country</label>
                  <md-select ng-model="user.country" ng-change="changeCountry(user.country)" required>
                    <md-option ng-repeat="country in SharedPref.billingCountries" ng-value="country.iso">
                      {{country.name}}
                    </md-option>
                  </md-select>
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="personalForm.country.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
            <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Password">
        <md-content class="md-padding">
          <form ng-submit="submitPasswords($event, passwordsForm)" name="passwordsForm" novalidate>
                <md-input-container>
                  <input name="password" ng-model="user.password" type="password" placeholder="Password" required="" minlength="5">
                  <small>Type new password to change</small>
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="passwordsForm.password.$error.minlength">Please enter 5 characters or more</div>
                      <div ng-show="passwordsForm.password.$error.required">This field is required</div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <input name="password2" ng-model="user.password2" type="password" placeholder="Confirm Password" required="">
                  <div ng-show="triedSubmit">
                    <div class="box">
                      <div ng-show="passwordsDontMatch">Passwords don't match</div>
                    </div>
                  </div>
                </md-input-container>
            <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
            </form>
          </md-content>
    </md-tabs>
</md-card>