<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Modify Phone Global Setting Template</span>
                <span class="md-subhead">add global phone settings to provision a set of phones</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <strong>*</strong> blue text means you have updated this setting
            <strong>*</strong> black text means you are using the default setting
        </md-card-content>
    </md-card>
    <ul class="no-list-style">
        <li ng-repeat="category in template.categories">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline"><a class="clickable" ng-click="openCategory(category)">{{category.name}}</a></span>
                        <span class="md-subhead"></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <ul class="tmpl-slots no-list-style">
                        <li ng-repeat="slot in category.slots">
                            <h5 class="clickable" ng-click="openCategory(category)" ng-show="checkEdited(slot)" class="tmpl-edited">{{slot.setting_name}}</h5> 
                            <h5 class="clickable" ng-click="openCategory(category)" ng-show="!checkEdited(slot)" class="">{{slot.setting_name}}</h5> 
                         </li>
                    </div>
                </md-card-content>
            </md-card>
        </li>
</div>
