<!-- exact table from live demo -->
<div>
  <div ng-show="settings.length === 0" class="no-results">
    <md-card md-theme="'default'"" md-theme-watch>
      <div ng-show="settings.length === 0 && !pagination.didSearch" class="no-results">
        <center>
          <h5>No settings listed</h5>
          <p>please create a phone to edit its individual settings</p>
        </center>
      </div>
    </md-card>
  </div>
  <div ng-show="settings.length > 0">
      <div layout="row" layout-align="end center">
      </div>
  <md-card md-theme="'default'"" md-theme-watch>
    <md-table-container>
      <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th md-column><span>Name<span></th>
            <th md-column><span>Phone Model<span></th>
            <th md-column><span>Phone Group<span></th>
            <th md-column>&nbsp;</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="phone" md-select-id="name" md-auto-select ng-repeat="setting in settings">
            <td md-cell>{{setting.name}}</td>
            <td md-cell>{{setting.manufacturer}} {{setting.model}}</td>
            <td md-cell>{{setting.group}}</td>
            <td md-cell>
              <md-button ng-click="modifyPhoneSetting($event, setting)" class="md-raised md-primary md-small" aria-label="Edit">
                  Modify
              </md-button>

            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>
</div>
  </div>
 