<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Add Phone</span>
                <span class="md-subhead">add a phone to provision with your account</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="phoneForm" ng-submit="submit(phoneForm)" novalidate>
                <div layout="row">
                    <div flex="95">
                        <md-input-container>
                            <label>Name</label>
                            <input name="name" ng-model="values.name" required="" minlength="1">
                            <div ng-show="triedSubmit">
                                <div class="box">
                                    <div ng-show="phoneForm.name.$error.minlength">Please enter 1 characters or more
                                    </div>
                                    <div ng-show="phoneForm.name.$error.required">This field is required</div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-icon class="tooltip-icon">
                            <i class="mdi mdi-information"></i>
                            <md-tooltip class="helper-tooltip" md-direction="top">
                                A unique name to identify this phone. e.g: "Randy's Phone"
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <div layout="row">
                    <div flex="95">
                        <md-input-container>
                            <label>Mac Address</label>
                            <input name="mac_address" ng-model="values.mac_address" required="" minlength="1">
                            <div ng-show="triedSubmit">
                                <div class="box">
                                    <div ng-show="phoneForm.mac_address.$error.minlength">Please enter 1 characters or
                                        more</div>
                                    <div ng-show="phoneForm.mac_address.$error.required">This field is required</div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-icon class="tooltip-icon">
                            <i class="mdi mdi-information"></i>
                            <md-tooltip class="helper-tooltip" md-direction="top">
                                Your phone's unique MAC address
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>
                <div layout="row">
                    <div flex="95">
                        <md-input-container>
                            <label>Model</label>
                            <md-select ng-model="values.phone_type" ng-change="changePhoneType(values.phone_type)">

                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="def in phoneDefs" ng-value="def.phone_type">
                                    {{def.manufacturer}} {{def.model}}
                                </md-option>
                            </md-select>
                         </md-input-container>
                            <div ng-show="triedSubmit">
                                <div class="box">
                                    <div ng-show="phoneForm.phone_type.$error.required">This field is required</div>
                                </div>
                            </div>
                    </div>
                    <div flex="5">
                        <md-icon class="tooltip-icon">
                            <i class="mdi mdi-information"></i>
                            <md-tooltip class="helper-tooltip" md-direction="top">
                                The manufacturer/model of the physical phone
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>
                <div layout="row">
                    <div flex="95">
                        <md-input-container>
                            <label>Group</label>
                            <md-select ng-model="values.group_id" ng-change="changePhoneGroup(values.group_id)">

                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="group in phoneGroups" ng-value="group.id">
                                    {{group.name}}
                                </md-option>
                            </md-select>
                          </md-input-container>
                            <div ng-show="triedSubmit">
                                <div class="box">
                                    <div ng-show="phoneForm.phone_type.$error.required">This field is required</div>
                                </div>
                            </div>
                    </div>
                    <div flex="5">
                        <md-icon class="tooltip-icon">
                            <i class="mdi mdi-information"></i>
                            <md-tooltip class="helper-tooltip" md-direction="top">
                                The manufacturer/model of the physical phone
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>
                        <div layout="row">
                            <div flex="66">
                                <div layout="row">
                                    <div flex="95">
                                        <md-chips ng-model="values.tags" name="tags" md-removable="true"
                                            md-max-chips="5" placeholder="Enter a tag..."
                                            input-aria-label="Fruit names">
                                            <md-chip-template>
                                                <strong>{{$chip}}</strong>
                                                <!--<em>(tag)</em>-->
                                            </md-chip-template>
                                        </md-chips>
                                            <small>* type in each tag followed by enter</small>
                                    </div>
                                    <div flex="5">
                                        <md-icon class="tooltip-icon">
                                            <i class="mdi mdi-information"></i>
                                            <md-tooltip class="helper-tooltip" md-direction="top">
                                                Tags for your phone
                                            </md-tooltip>
                                        </md-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                                       <div class="form-btns">
                                <div class="submit">
                                    <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
                                </div>
                                <div class="cancel">
                                    <a href="" ng-click="$shared.cancelForm()">Cancel</a>
                                </div>
                            </div>
            </form>
        </md-card-content>
    </md-card>
</div>
