<div class="layout-row" layout-sm="column" layout-xs="column">
	<div class="mdl-cell shadow grid-margin calls-graph" style="background: white;" flex="100" flex-sm="100">
		<div class="panel-header">Calls Graph <span class="cog"> <md-button class="md-icon-button" aria-label="Settings" style="line-height: 0 !important;">
                <md-icon ng-click="reloadGraph()"><i class="mdi mdi-refresh" style="color: #fff;"></i></md-icon>
            </md-button></span>
		</div>
		<div class="linechart" relink-event="resize"><canvas id="line" class="chart chart-line chart-xl" data="line.data" labels="line.labels" click="line.onClick" series="line.series" colours="line.colours" options="line.options" legend="true"></canvas>
		</div>
	</div>
</div>