<div class="layout-row" layout-sm="column" layout-xs="column">
	<!-- <div class="mdl-cell shadow grid-margin calls-graph" flex="100" flex-sm="100">
		<div class="linechart" relink-event="resize">
			<div class="mdl-grid">
				<div class="mdl-cell-12-col">
					<div layout="row" layout-xs="column" layout-sm="column" class="mdl-grid">
						<div class="shadow mrgndv" flex="100" flex-sm="100" flex-xs="100">

							<div ng-repeat="feed in feeds" class="pd-20">
								<div class="imgduratn">
									<div class="ucion round" ng-if="feed.event_type === 'recordings'" style="background-color: rgb(197,17,98);">
										<i class="mdi mdi-record-rec"></i>
									</div>
									<div class="ucion round" ng-if="feed.event_type === 'did_numbers'" style="background-color: #339797;">
										<i class="mdi mdi-phone"></i>
									</div>
									<div class="cname">
										<div>
											<p class="cn" ng-if="feed.created_at">{{feed.created_at}}</p>
											<p class="cd" ng-if="feed.name">{{feed.name}}</p>
											<p class="cd" ng-if="feed.country">{{feed.country}}</p>
										</div>
									</div>
								</div>

								<div class="calldetails">
									<div class="etdv">
										<div ng-if="feed.event_type === 'recordings'">
											<audio class="small" controls>
												<source ng-src="{{feed.public_url}}" type="audio/wav"></source>
											</audio>
										</div>
										<div class="evtype rec" ng-if="feed.event_type === 'recordings'" ng-click="gotorecoring()">
											Event Type <span>{{feed.event_type}}</span>
										</div> 
										<div class="evtype purchase" ng-if="feed.event_type === 'did_numbers'" ng-click="gotodid(feed)">
											Purchase DID Number
									   </div> 
										<div class="evtype did" ng-if="feed.event_type === 'did_numbers'">
											Event Type <span>{{feed.event_type}}</span>
										</div> 
										
									</div>
									<table class="datatable">
										<div class="mg-20">
											<strong>Details</strong> <br>
										</div>
										<tbody>
											<tr ng-if="feed.status !== undefined">
												<td>Status</td>
												<td class="valclr">{{feed.status}}</td>
											</tr>
											<tr ng-if="feed.tag !== undefined">
												<td>Tag</td>
												<td class="valclr">{{feed.tag}}</td>
											</tr>
											<tr ng-if="feed.duration !== undefined">
												<td>Duration</td>
												<td class="valclr">{{feed.duration}}</td>
											</tr>
											<tr ng-if="feed.size !== undefined">
												<td>Size</td>
												<td class="valclr">{{feed.size}}</td>
											</tr>
											<tr ng-if="feed.plan_snapshot !== undefined">
												<td>Plan Snapshot</td>
												<td class="valclr">{{feed.plan_snapshot}}</td>
											</tr>
											<tr ng-if="feed.number !== undefined">
												<td>Number</td>
												<td class="valclr didnum" ng-click="gotodid(feed)">{{feed.number}}</td>
											</tr>

											<tr  ng-if="feed.provider !== undefined">
												<td>Provider</td>
												<td class="valclr">{{feed.provider}}</td>
											</tr>
											<tr  ng-if="feed.did_action !== undefined">
												<td>DID Action</td>
												<td class="valclr">{{feed.did_action}}</td>
											</tr>

											<tr  ng-if="feed.type !== undefined">
												<td>Type</td>
												<td class="valclr">{{feed.type}}</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div ng-if="feed.monthly_cost !== undefined"> 
									<div class="duraStrong">
										<strong>Costs and Features</strong>
									</div>
									
									<div class="duraCss">
										<table>
											<tr class="durath">
												<th class="thd">Monthly Cost</th>
												<th class="thd">Setup Cost</th>
												<th>Features</th>
											</tr>
											<tr class="p-td">
												<td style="text-align: center;">{{feed.monthly_cost}}</td>
												<td>{{feed.setup_cost}}</td>
												<td>{{feed.features}}</td>
											</tr>
											
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	
	<div class="mrgndv" flex="100" flex-sm="100" flex-xs="100">
		<div ng-repeat="feed in feeds" class="pd-60">
			<div ng-if="feed.event_type === 'recordings'" class="mdl-cell grid-margin feed-card rec-clr" flex="100" flex-sm="100">
				<div class="d-flex df-main">
					<p class="p-rec-name p-com">{{feed.name || 'Anonymous'}}</p>
					<img src="../../../icons/record.png" class="mlimg">
				</div>
				<div class="pm">
					<div class="d-flex">
						<img src="../../../icons/system.png" class="statimg">
						<p class="p-rec-stat p-com clr-blu">{{feed.status}}</p>
						<div class="rec-btn rbtn-clr" ng-click="gotorecoring()">
							Recoriing
						</div>
					</div>
				</div>
				<div class="mid-dv">
					<p>From: {{feed.from}}</p>
					<p>To: {{feed.from}}</p>
				</div>
				<div class="d-flex dur-dv">
					<img src="../../../icons/clock.png">
					<p class="dur-p">Duration: {{feed.duration}}</p>
				</div>
				<div class="aud-dv">
					<audio class="small" controls>
						<source ng-src="{{feed.public_url}}" type="audio/wav"></source>
					</audio>
				</div>
			</div>

			<div ng-if="feed.event_type === 'did_numbers'" class="mdl-cell grid-margin feed-card did-clr" flex="100" flex-sm="100">
				<div class="d-flex df-main">
					<div class="round-dv">
						<img src="../../../icons/telephone (1).png">
					</div>
					<p class="p-rec-name p-com round-p">{{feed.name || 'Anonymous'}}</p>
				</div>
				<div class="p20">
					<div class="d-flex">
						<div class="rec-btn dbtn-clr" ng-click="gotodid(feed)">
							DID Number
						</div>
						<p class="p-rec-stat clr-blck p-com">{{feed.number}}</p>
					</div>
				</div>
				<div class="d-flex p-flag">
					<img src="../../../flags/1x1/{{feed.country}}.svg" class="flg-img">
					<p>{{feed.country}}</p>
				</div>
				<p class="cost"><span>Monthly Cost</span>{{feed.monthly_cost}}</p>
			</div>

			<div ng-if="feed.event_type === 'calls'" class="mdl-cell grid-margin feed-card call-clr" flex="100" flex-sm="100">
				<div class="d-flex df-main">
					<p class="p-rec-name p-com call-p">{{feed.name || 'Anonymous'}}</p>
					<div class="call-btn">
						Calls
					</div>
				</div>
				<div class="d-flex p-date">
					<img src="../../../icons/calendar.png">
					<p>{{feed.date}}</p>
				</div>
				<div class="call-num">
					<p>
						<span class="ttl">From: </span>
						<span class="val">{{feed.from}}</span>
					</p>
					<p>
						<span class="ttl">To: </span>
						<span class="val">{{feed.to}}</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
