<!-- exact table from live demo -->
<div>
 <div ng-show="!pagination.checkIfSearched() && !$shared.isInLoadingState() && numbers.length === 0" class="no-results">
    <md-card md-theme="'default'"" md-theme-watch>
      <div ng-show="numbers.length === 0 && !pagination.didSearch" class="no-results">
      <div class="inner">
        <center>
          <h5>No ported numbers listed</h5>
          <md-button ng-click="portNumber()" class="md-raised md-primary">Port New Number</md-button>
        </center>
      </div>
      </div>
    </md-card>
  </div>
<div ng-show="pagination.checkIfSearched() || (!pagination.checkIfSearched() && numbers.length > 0)">
  <div layout="row side-options" layout-align="end center">
        <div flex="10">
            <md-input-container class="search">
                <label>Search</label>
                <input ng-keyup="pagination.search()" ng-model="pagination.settings.search" type="text" />
                <a ng-show="pagination.shouldShowClear()" class="clear-search important-show" ng-click="pagination.clearSearch()">X</a>
                <a ng-show="!pagination.shouldShowClear()" class="clear-search important-dont-show">X</a>
            </md-input-container>
          </div>
    <md-button ng-click="portNumber()" class="md-raised md-primary">Create New</md-button>
  </div>
<div ng-show="pagination.checkIfSearched() && !$shared.isInLoadingState() && numbers.length === 0" class="no-results">
  <md-card md-theme="'default'"" md-theme-watch>
    <div class="no-results">
      <div class="inner">
      <center>
        <h5>No numbers found</h5>
      </center>
      </div>
    </div>
  </md-card>
</div>
<div ng-show="numbers.length>0">
      <md-card md-theme="'default'"" md-theme-watch>
        <md-table-container>
          <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
             <tr md-row>
                <th md-column><span>Number</span></th>
                <th md-column>Provider</th>
                <th md-column>Status</th>
                <th md-column>&nbsp;</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="number" md-select-id="name" md-auto-select ng-repeat="number in numbers">
                <td md-cell>{{number.number}}</td>
                <td md-cell>{{number.provider}}</td>
                <td md-cell>{{number.status}}</td>
                <td md-cell>
              <md-button ng-click="editNumber(number)" class="md-icon-button" aria-label="Number">

                  <md-icon>
                    <i class="mdi mdi-pencil"></i>
                          <md-tooltip class="helper-tooltip" md-direction="top">
                              Edit port request
                          </md-tooltip>
                  </md-icon>
              </md-button>
              <md-button ng-click="deleteNumber($event, number)" class="md-icon-button" aria-label="Settings">
                  <md-icon >
                    
                    <i class="mdi mdi-delete"></i>
                         <md-tooltip class="helper-tooltip" md-direction="top">
                              Cancel port request
                          </md-tooltip>
                  </md-icon>
              </md-button>

                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>
      </md-card>
      <div layout="row" layout-align="end">

        <div>
          <md-button ng-show="pagination.hasPrev()" ng-click="pagination.prevPage()" class="md-raised md-primary">Prev Page</md-button>
          <md-button ng-show="!pagination.hasPrev()" disabled="" ng-click="pagination.prevPage()" class="md-raised md-primary">Prev Page</md-button>
          <md-button ng-show="pagination.hasNext()" ng-click="pagination.nextPage()" class="md-raised md-primary">Next Page</md-button>
          <md-button ng-show="!pagination.hasNext()" disabled="" ng-click="pagination.nextPage()" class="md-raised md-primary">Next Page</md-button>
        </div>
      </div>
    </div>
  </div>
  </div>
 