<md-dialog style="width: 90%; max-width: 800px;">
      <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 style="font-size: 28px; font-weight: 500;">Add Card</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- <form ng-submit="submit()">
      <div id="card-element"></div>
      <button type="submit">Pay Now</button>
    </form> -->
  <form ng-cloak ng-submit="submit()" id="payment-form" name="paymentForm">
    <md-dialog-content class="add-card-form"> 
      <div class="md-dialog-content" style="padding: 16px;">
        <div ng-show="errorMsg" class="error-box">
          <span class="red"><strong>{{errorMsg}}</strong></span>
        </div>

        <div layout="row" layout-align="center" style="margin-bottom: 6px;">
          <md-input-container style="flex: 1;">
              <label style="font-size: 15px;">Your Name</label>
              <input ng-model="card.name" style="font-size: 17px;" required/>
          </md-input-container>
        </div>
        
        <div layout="row" layout-align="center" style="margin-bottom: 6px;">
          <md-input-container style="flex: 1;">
            <label style="font-size: 15px;">Address</label>
            <input ng-model="card.address" style="font-size: 17px;" required/>
          </md-input-container>
        </div>
        
        <div layout="row" layout-gap="12px" style="margin-bottom: 6px;">
          <div flex>
            <div layout="row" layout-align="center">
              <md-input-container style="flex: 1;">
                <label style="font-size: 15px;">City</label>
                <input ng-model="card.city" style="font-size: 17px;" required/>
              </md-input-container>
            </div>
          </div>
          
          <div flex>
            <div layout="row" layout-align="center">
              <md-input-container style="flex: 1;">
                <label style="font-size: 15px;">Country</label>
                <md-select ng-model="card.country" ng-change="changeCountry(card.country)" style="font-size: 17px;" required>
                  <md-option ng-repeat="country in $shared.billingCountries" ng-value="country">
                    {{country.name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        
        <!-- <div layout="row">
          <div flex>
            <div ng-non-bindable id="card-element"></div>
          </div>
        </div> -->

        <h3 style="font-size: 15px; font-weight: 500; margin-top: 16px; margin-bottom: 12px;">Card details</h3>
        <div ng-non-bindable id="card-element"></div>

        <!-- <div layout="row">
          <div flex>
            <div ng-non-bindable id="cardNumber"></div>
            
          <md-input-container>
              <label>Number</label>
              <input id="cardNumber" ng-model="card.number"/>
            </md-input-container>
          
          </div>
          <div flex>
            <div ng-non-bindable id="cardExpiry"></div>
            
            <md-input-container>
              <label>Expires</label>
              <input id="cardExpiry" placeholder="MM/YY" ng-model="card.expires"/>
            </md-input-container>
            
          </div>
          <div flex>
            <div ng-non-bindable id="cardCVC"></div>
            
            <md-input-container>
              <label>CVV</label>
              <input id="cardCVC" ng-model="card.cvv" />
            </md-input-container>
            
          </div>
        </div> -->
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="submit()">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>