<md-dialog class="add-block-number-modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Verified Caller ID</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div ng-show="step===1">
        <md-dialog-content class="add-card-form">
            <div class="md-dialog-content card-bottom">
                <div layout="row">
                    <md-input-container class="country-width md-input-container">
                        <label>Country</label>
                        <md-select ng-model="countryCode">
                            <md-option ng-repeat="country in countries" ng-value="country.dial_code">
                                <span
                                    class="flag-icon flag-icon-{{country.code.toLowerCase()}} flag-icon-squared"></span>
                                ({{country.dial_code}}){{country.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-input-container">
                        <label>Number</label>
                        <input ng-model="data.step1.number" type="text" ng-change="onNumberChange()" />
                    </md-input-container>
                </div>
                <md-input-container class="md-input-container">
                    <label>Notes</label>
                    <textarea ng-model="data.step1.notes" rows="3" md-select-on-focus></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="p-16 submit-button">

            <md-button class="md-raised md-primary" ng-click="postStep1()">
                Submit
            </md-button>
            <span flex></span>
            <md-button ng-click="close()">
                Close
            </md-button>
        </md-dialog-actions>
    </div>
    <div ng-show="step===2">
        <md-dialog-content class="add-card-form">
            <div ng-show="error">
                <span class="red">{{errorText}}</span>
            </div>
            <div class="md-dialog-content">
                <md-input-container>
                    <label>Enter SMS code</label>
                    <input ng-model="data.step2.code" />
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="postStep2()">
                Submit
            </md-button>
            <md-button ng-click="close()">
                Close
            </md-button>
        </md-dialog-actions>
    </div>
    </form>
</md-dialog>
