<md-dialog class="add-block-number-modal">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Import Numbers</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="add-card-form">
        <div class="md-dialog-content card-bottom">
            <div layout="row">
                <center>
                    <h5>This feature is unavailable right now.</h5>
                </center>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="p-16 submit-button">

        <!--
        <md-button class="md-raised md-primary" ng-click="submit()">
            Submit
        </md-button>
        -->
        <span flex></span>
        <md-button ng-click="close()">
            Close
        </md-button>
    </md-dialog-actions>

    </form>
</md-dialog>
