<md-dialog>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>Create Usage Trigger</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="add-trigger-form">
        <div class="md-dialog-content">
            <div class="trigger-fields">
                <div class="field-group">
                    <label class="field-label">
                        Trigger Type
                    </label>
                    <md-select ng-model="data.type" placeholder="Select trigger type" class="trigger-select" required
                        md-no-asterisk="false">
                        <md-option ng-repeat="option in triggerTypes" ng-value="option">{{option}}</md-option>
                    </md-select>
                </div>

                <div class="field-group">
                    <label class="field-label">
                        Trigger Percentage
                    </label>
                    <md-select ng-model="data.percentage" placeholder="Select percentage" class="trigger-select" required
                        md-no-asterisk="false">
                        <md-option ng-repeat="option in percentages" ng-value="option">{{option}}</md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center" class="dialog-actions">
        <md-button class="md-raised md-primary" ng-click="save()">
            Submit
        </md-button>
    </md-dialog-actions>
</md-dialog>
