<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create Usage Trigger</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="add-trigger-form">
        <div class="md-dialog-content">
            <p>
You can set up usage triggers to stay informed about how much you're spending on calling and other {{$shared.customizations['site_name']}} services. We will email you a notification whenever you exceed the amount specified in your usage trigger. Note that you can set up as many usage triggers as you like.
            </p>

            <br />
            <br />
            <label>Trigger Type</label>
            <md-select ng-model="data.type" placeholder="Type" class="" required
                md-no-asterisk="false">
                <md-option ng-repeat="option in triggerTypes" ng-value="option">{{option}}</md-option>
            </md-select>
            <label>Trigger Percentage</label>
            <md-select ng-model="data.percentage" placeholder="Percentage" class="" required
                md-no-asterisk="false">
                <md-option ng-repeat="option in percentages" ng-value="option">{{option}}</md-option>
            </md-select>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="save()">
            Submit
        </md-button>
        <span flex></span>
        <md-button ng-click="close()">
            Close
        </md-button>
    </md-dialog-actions>

    </div>


    </form>
</md-dialog>
