<md-dialog aria-label="Mango (Fruit)">
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>How To Connect</h4>
        <hr/>
        <p>to connect to your extension please use the following login credentials</p>
        <br/>
        <strong>SIP Server:</strong><span>&nbsp;{{$shared.userInfo.sip_url}}</span>
        <br/>
        <strong>User:</strong><span>&nbsp;{{extension.username}}</span>
        <br/>
        <strong>Secret:</strong><span>&nbsp;{{extension.secret}}</span>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="close()">
        Close
      </md-button>
    </md-dialog-actions>
</md-dialog>