<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Success</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>You have purchased number "{{number.number}}"</h2>
        <p>
            You can now configure its flow and settings. To continue please choose from the options below.
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="gotoSettings()">
        Setup Number
      </md-button>
      <span flex></span>
      <md-button ng-click="close()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>