<md-dialog>
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Upload File</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <input type="file" id="uploadFile"/>
    </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button  class="md-raised md-primary" ng-click="submit()">
      Upload
    </md-button>

    <span flex></span>
    <md-button ng-click="close()">
      Close
    </md-button>
  </md-dialog-actions>
    
</md-dialog>