<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Edit Workspace User</span>
                <span class="md-subhead">edit info of workspace user</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="userForm" ng-submit="submit(userForm)" novalidate>
                <div layout="row">
                    <div flex="95">
                        <md-input-container>
                            <label>First Name</label>
                            <input name="first_name" ng-model="values.user.first_name" required="" minlength="1">
                            <div ng-show="triedSubmit">
                                <div class="box">
                                    <div ng-show="extensionForm.first_name.$error.minlength">Please enter 1 characters
                                        or more</div>
                                    <div ng-show="extensionForm.first_name.$error.required">This field is required</div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-icon class="tooltip-icon">
                            <i class="mdi mdi-information"></i>
                            <md-tooltip class="helper-tooltip" md-direction="top">
                                User's given name
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <div layout="row">
                    <div flex="95">
                        <md-input-container>
                            <label>Last Name</label>
                            <input name="last_name" ng-model="values.user.last_name" required="" minlength="1">
                            <div ng-show="triedSubmit">
                                <div class="box">
                                    <div ng-show="extensionForm.last_name.$error.minlength">Please enter 1 characters or
                                        more</div>
                                    <div ng-show="extensionForm.last_name.$error.required">This field is required</div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-icon class="tooltip-icon">
                            <i class="mdi mdi-information"></i>
                            <md-tooltip class="helper-tooltip" md-direction="top">
                                User's family name
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>
                <div layout="row">
                    <div flex="95">
                        <md-input-container>
                            <label>Email</label>
                            <input name="email" ng-model="values.user.email" required="" minlength="1"
                                readonly="readonly">
                            <div ng-show="triedSubmit">
                                <div class="box">
                                    <div ng-show="extensionForm.email.$error.minlength">Please enter 1 characters or
                                        more</div>
                                    <div ng-show="extensionForm.email.$error.required">This field is required</div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="5">
                        <md-icon class="tooltip-icon">
                            <i class="mdi mdi-information"></i>
                            <md-tooltip class="helper-tooltip" md-direction="top">
                                This email will be invited to your lineblocs account
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <h5>Assigned Extension, and DID</h5>
                <div layout="row">
                    <div flex="66">
                        <div layout="row">
                            <div flex="95">
                                <md-input-container>
                                    <label>Assigned Extension</label>
                                    <md-select ng-model="values.extension_id" ng-change="changeExtension(values.extension_id)">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="extension in extensions" ng-value="extension.id">
                                            {{extension.username}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="5">
                                <md-icon class="tooltip-icon">
                                    <i class="mdi mdi-information"></i>
                                    <md-tooltip class="helper-tooltip" md-direction="top">
                                      Extension assigned to user
                                    </md-tooltip>
                                </md-icon>
                            </div>
                        </div>
                    </div>
                    <div flex="33">
                        <md-button ng-show="!values.extension_id" ng-click="setupExtension($event, values)" class="md-raised">
                            Setup
                        </md-button>
                    </div>
                </div>
                <div layout="row">
                    <div flex="66">
                        <div layout="row">
                            <div flex="95">
                                <md-input-container>
                                    <label>Assigned DID</label>
                                    <md-select ng-model="values.number_id" ng-change="changeNumber(values.number_id)">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="number in numbers" ng-value="number.id">
                                            {{number.number}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="5">
                                <md-icon class="tooltip-icon">
                                    <i class="mdi mdi-information"></i>
                                    <md-tooltip class="helper-tooltip" md-direction="top">
                                      Number assigned to user
                                    </md-tooltip>
                                </md-icon>
                            </div>
                        </div>
                    </div>
                    <div flex="33">
                        <md-button ng-show="!values.number_id" ng-click="setupNumber($event, values)" class="md-raised">
                            Setup
                        </md-button>
                    </div>
                </div>
                <div layout="row">
                    <div flex="66">
                        <div layout="row">
                            <div flex="95">
                                <md-input-container>
                                    <label>Preferred PoP</label>
                                    <md-select ng-model="values.preferred_pop" ng-change="changePreferredPOP(values.preferred_pop)">
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="pop in pops" ng-value="pop.aws_code">
                                            {{pop.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="5">
                                <md-icon class="tooltip-icon">
                                    <i class="mdi mdi-information"></i>
                                    <md-tooltip class="helper-tooltip" md-direction="top">
                                      Extension assigned to user
                                    </md-tooltip>
                                </md-icon>
                            </div>
                        </div>
                    </div>
                    <div flex="33">
                        <md-button ng-show="!values.extension_id" ng-click="setupExtension($event, values)" class="md-raised">
                            Setup
                        </md-button>
                    </div>
                </div>




                <h5>Workspace Roles</h5>
                <p>allow or disallow this user to perform certain actions in the workspace</p>
                <div ng-repeat="role in availableRoles" flex="95">
                    <div layout="row">
                        <div flex="95">
                            <md-switch ng-model="values.roles[role.id]" aria-label="{{role.name}}" class="md-warn">
                                {{role.name}}
                            </md-switch>
                        </div>
                        <div flex="5">
                            <md-icon class="tooltip-icon">
                                <i class="mdi mdi-information"></i>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    {{role.info}}
                                </md-tooltip>
                            </md-icon>
                        </div>
                    </div>
                </div>
                <div class="form-btns">
                    <div class="submit">
                        <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
                    </div>
                    <div class="cancel">
                        <a href="" ng-click="$shared.cancelForm()">Cancel</a>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
