<div>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Create Trunk</span>
                <span class="md-subhead">create a hosted trunk to route traffic to your own SIP infrastructure</span>
            </md-card-title-text>
        </md-card-title>
        <div ng-if="errorMessage">
            <span class="error-message">{{errorMessage}}</span>
        </div>
        <md-card-content>
            <form name="trunkForm" ng-submit="saveTrunk(trunkForm)" novalidate>
                <div class="form-port-details">
                    <div class="stepper">
                        <div class="step" ng-class="{'active': step == 1}" ng-click="validateStepForm(trunkForm, 1)">
                            <div class="step-number" ng-if="step > 1">
                                <i class="mdi mdi-check-circle-outline checked-circle"></i>
                            </div>
                            <div class="step-number" ng-if="step <= 1"> 1 </div>
                            <div class="step-title">Details</div>
                            <div class="step-line"></div>
                        </div>
                        <div class="step" ng-class="{'active': step == 2}" ng-click="validateStepForm(trunkForm, 2)">
                            <div class="step-number" ng-if="step > 2">
                                <i class="mdi mdi-check-circle-outline checked-circle"></i>
                            </div>
                            <div class="step-number"  ng-if="step <= 2">2</div>
                            <div class="step-title">Origination</div>
                            <div class="step-line"></div>
                        </div>
                        <div class="step" ng-class="{'active': step == 3}" ng-click="validateStepForm(trunkForm, 3)">
                            <div class="step-number" ng-if="step > 3">
                                <i class="mdi mdi-check-circle-outline checked-circle"></i>
                            </div>
                            <div class="step-number"  ng-if="step <= 3">3</div>
                            <div class="step-title">Termination</div>
                            <div class="step-line"></div>
                        </div>
                        <div class="step" ng-class="{'active': step == 4}" ng-click="validateStepForm(trunkForm, 4)">
                            <div class="step-number">4</div>
                            <div class="step-title">DID numbers</div>
                        </div>
                    </div>
                    <div class="form-port-details" ng-if="step == 1">
                        <div layout="row">
                            <md-input-container class="trunk-name">
                                <label>Name</label>
                                <input name="username" ng-model="values.name" required="" minlength="1" ng-change="checkTrunkFields()">
                                <div ng-show="triedSubmit">
                                    <div class="box">
                                        <div ng-show="trunkForm.username.$error.minlength">Please enter 1 characters or more</div>
                                        <div ng-show="trunkForm.username.$error.required">This field is required </div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-icon class="tooltip-icon trunk-icon">
                                <i class="mdi mdi-information"></i>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    The username you will use to login to your trunk with
                                </md-tooltip>
                            </md-icon>
                        </div>
                        <div layout="row">
                            <md-switch ng-default="false" ng-model="values.record" aria-label="Record calls" class="md-warn">
                                Record calls
                            </md-switch>
                        </div>
                    </div>
                    <div class="form-port-details" ng-if="step == 2">
                        <div layout="row">
                            <md-input-container class="trunk-name">
                                <label>SIP URI</label>
                                <input name="sip_uri" ng-model="values.sip_uri" required="" minlength="1" ng-change="checkTrunkFields()">
                                <div ng-show="triedSubmit">
                                    <div class="box">
                                        <div ng-show="trunkForm.sip_uri.$error.minlength">Please enter 1 characters or more</div>
                                        <div ng-show="trunkForm.sip_uri.$error.required">This field is required </div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-icon class="tooltip-icon trunk-icon">
                                <i class="mdi mdi-information"></i>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    Incoming calls will be routed to SIP URI and this must be a FQDN and include SIP protocol. <br/>or example: if your SIP infrastructure is located at example.org use:
                                    <br/>
                                    sip:example.org:5060
                                </md-tooltip>
                            </md-icon>
                        </div>
                       <div layout="row">
                            <md-input-container>
                                <label>Recovery SIP URI</label>
                                <input name="recovery_sip_uri" ng-model="values.recovery_sip_uri" required="" minlength="1" ng-change="checkTrunkFields()">
                                <div ng-show="triedSubmit">
                                    <div class="box">
                                        <div ng-show="trunkForm.recovery_sip_uri.$error.minlength">Please enter 1 characters or more</div>
                                        <div ng-show="trunkForm.recovery_sip_uri.$error.required">This field is required </div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-icon class="tooltip-icon">
                                <i class="mdi mdi-information"></i>
                                <md-tooltip class="helper-tooltip" md-direction="top">
                                    Incoming calls will be routed to SIP URI and this must be a FQDN and include SIP protocol. <br/>or example: if your SIP infrastructure is located at example.org use:
                                    <br/>
                                    sip:example.org:5060
                                </md-tooltip>
                            </md-icon>
                        </div>
                    </div>
                    <div class="form-port-details" ng-if="step == 3">
                        <div layout="row">
                            <div flex="80">
                                <md-input-container class="trunk-name">
                                    <label>Termination SIP URI</label>
                                    <input name="termination_sip_uri" ng-model="values.termination_sip_uri" required="" minlength="1" ng-change="checkTrunkFields()">
                                    <div ng-show="triedSubmit">
                                        <div class="box">
                                            <div ng-show="trunkForm.termination_sip_uri.$error.minlength">Please enter 1
                                                characters or
                                                more</div>
                                            <div ng-show="trunkForm.termination_sip_uri.$error.required">This field is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div flex="15">
                                <md-input-container class="trunk-name">
                                    <input name="termination_sip_uri" value=".pstn.{{shared.getDomain()}}" required="" minlength="1" disabled>
                                </md-input-container>
                            </div>
                            <div flex="5">
                                <md-icon class="tooltip-icon trunk-icon">
                                    <i class="mdi mdi-information"></i>
                                    <md-tooltip class="helper-tooltip" md-direction="top">
                                        Set the domain name for routing calls from your SIP infrastructure to Lineblocs gateway.
                                        <br/>
                                        The chosen name will be used in the domain and included in the prefix of the FQDN. For example,<br/>if you use 'trunk' then your SIP URI will be:
                                        <br/>
                                        {your-trunk-name}.pstn.{{$shared.getDomain()}} 
                                    </md-tooltip>
                                </md-icon>
                            </div>
                        </div>
                    </div>
                    <div class="form-port-details" ng-if="step == 4">
                        <md-content class="md-padding">
                            <p>
                                Select the DID numbers that you want to connect with your trunk
                                <br/>
                                <br/>
                                <strong>Note:</strong> if the DID is already setup with a call flow it will be greyed out, and you will need to unlink the flow before you can link it to your trunk
                            </p>
                                <ul class="no-styling">
                                    <li ng-repeat="number in numbers">
                                        <md-checkbox ng-if="number.available" ng-model="number.checked" aria-label="Checkbox" class="md-warn md-align-top-left" flex>
                                            {{number.number}}
                                    </li>
                                </ul>
                        </md-content>
                    </div>
                    <div ng-show="step == 1" class="next-step-button">
                        <md-button type="button" ng-click="validateStepForm(trunkForm, 2)" class="md-raised md-primary no-margin-sides">Next</md-button>
                    </div>
    
                    <div ng-show="step == 2" class="button-group">
                        <md-button type="button" ng-click="validatePrevForm()" class="md-raised no-margin-sides">Prev</md-button>
                        <md-button type="button" ng-click="validateStepForm(trunkForm, 3)" class="md-raised md-primary no-margin-sides">Next</md-button>
                    </div>
    
                    <div ng-show="step == 3" class="button-group">
                        <md-button type="button" ng-click="validatePrevForm()" class="md-raised no-margin-sides">Prev</md-button>
                        <md-button type="button" ng-click="validateStepForm(trunkForm, 4)" class="md-raised md-primary no-margin-sides">Next</md-button>
                    </div>
    
                    <div ng-show="step == 4" class="button-group">
                        <md-button type="button" ng-click="validatePrevForm()" class="md-raised no-margin-sides">Prev</md-button>
                        <md-button type="submit" class="md-raised md-primary no-margin-sides">Save</md-button>
                    </div>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>