/* Style for the page layout */

body {
	font-family: 'Roboto', sans-serif;
	position: static !important;
	background: #FFFFFF;
}
.width-100 {
	width: 100%;
}
.text-align-left {
text-align: left;
}
.margin-md-button {
	margin: 8px;
}
.login-form {
	md-input-container {
		margin: 0px;
	}
	input {
		border-bottom: 1px solid #E3E3E3;
	}

}
.content-holder {
	background: $bg;
	@include transition(.3s);
	min-height:100vh;
}
.page-content {
	/*padding: 15px;*/
	padding-top: 85px;
	/*padding-left : 95px;*/
	/*max-width: 1390px;*/
	margin: 0 auto;	
}
.dashboard-block {
	min-height: 450px;
}
.dashboard-block-margin {

	margin: 8px;
}
.page-content.no-padding {
	padding-top: 0px;
}
.clearfix {
}

.tooltip-icon {
  left: auto;
  right: 0px;
  margin-top: 28px;
}
.feature-icon {
  i {
	  font-size: 20px;
  }
}
.helper-tooltip {
  top: 45px;
  left: -100px;
  /*width: 128px;*/
  white-space: inherit;
    max-width: 500px; // Or whatever you need.
}
.margin-10 {
	margin: 10px 0;
}
nav.right {

	md-menu {
		/*height: 69px;*/
		/*padding: 8px 0;*/
	}
}

md-tooltip .md-content {
    height: auto !important;
}

.md-button.md-small {
    min-width: 1%;
}
@media screen and (max-width: 1024px) {
.md-button.md-small {
	min-width: 50%;
}

	min-width: 50%;
}

.md-button.bulk-actions {
	font-size: 12px;
	min-height: 32px;
	min-width: 1%;
	line-height: 24px;
	background-color: rgb(250,250,250) !important;
	color: rgb(33,33,33) !important;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
.md-button.create-new {
	font-size: 12px;
	min-height: 32px;
	min-width: 1%;
	line-height: 24px;
}
.md-button.more-options {
	font-size: 11px;
	min-height: 32px;
	min-width: 1%;
	line-height: 24px;
}


md-tabs.md-default-theme.md-primary > md-tabs-wrapper, md-tabs.md-primary > md-tabs-wrapper {
	background: $primary;
}

.clearfix:after {
	display: block;
	margin: 0;
	content: '';
	clear: both;
}
.content-box {
	padding: 20px;
}
.no-results {
	.inner {
		padding: 20px;
	}
	h5 {
		margin: 0;
	}
}
.req-field {
	color: #FF0000;
	font-weight: 700;
}
md-input-container.search {
	position: relative;
	left: -15px;
	margin: 6px 8px;
	height: 36px;
	label {
		padding: 0 5px;
		margin-left: 3px;
	}
	input {
		background: #FFFFFF; 
		border-radius: 3px; 
		border:1px solid #ccc; 
		padding: 2px 5px; 
		font-size: 16px;
		height: 32px;

	}
}
.splash {
	.outer {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	}

	.middle {
	display: table-cell;
	vertical-align: middle;
	}

	.inner {
	margin-left: auto;
	margin-right: auto;
	width: 256px;
	/*whatever width you want*/
	}
}
.md-button.md-small {
	font-size: 12px;
	line-height: 28px;
	min-height: 28px;
	padding: 0;
	height: 28px;
	width: 64px;
}
.load-mask {
	position:relative; 
	z-index: 9999999;
	    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	.container {
		position: absolute;
		height: 768px;
		width: 100%;
			.mask {
				position: absolute;
				height: 768px;
				width: 100%;
				.block {
					background: #FFF;
					opacity: .5;
					height: 768px;
					width: 100%;

				}
			}
			.spinner {
				position: absolute;
				top: 40px;
				left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			}
		}
}
md-menu {
	float: left;
}
#gSignIn .abcRioButton.abcRioButtonBlue {
	border-radius: 35px;
}
.msft-login {
	width: 400px;
	height: 50px;
	border-radius: 35px;
	background: #2f2f2f;
	img {
		margin: 4.5px 0;
	}
}
.change-page-mask {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2048px;
	z-index: 99999;
	background: #FFFFFF;
	opacity: .3;
}
.nav-item {
	height: 45px;
	margin-top: 8.5px
}
.no-margin-sides {
	margin-left: 0;
	margin-right: 0;
}
.no-margin-top-bottom {
	margin-top: 0;
	margin-bottom: 0;
}
.media-file-url-input {
	margin: 9.4px 0;
}

.no-padding {
	padding: 0;
}
.nav-item:after {
	clear: both;
	content: '';
	display: block;
	margin: 0;
}
.line-left {
	border-left: 1px solid #E3E3E3;
	padding-left: 20px;
}
.vert-line {
	height: 45px;
	width: 1px;
	background: #CCCCCC;
	margin: 0 10px;
	margin-top: 8.5px;
	float: left;
}
.balance {
	strong {
	}
	span.account-balance {
	}
}
.red {
	color: #FF0000;
}
.responsive-logo img {
	margin: 10px 0;
}
.top-logo-extended img {
	margin: 0 10px;
}
.top-logo img {
	margin: 10px 10px 0;
}
audio.small {
	height: 32px;
	width: 256px;
}

.table-heading {
	h5 {
		margin-left: 7px;
	}
	button {
		margin-top: 20px;
	}
}
md-dialog-content.add-card-form md-input-container {
	//height: 32px;
	//margin-top: 3px;
	//margin-bottom: 3px;
}
.inputs {
	md-input-container {
		margin: 10px 0;
	}
}
md-dialog-content.add-trigger-form {
	width: 480px;
}
md-tabs.settings {
}
.collapsed-content {
	margin-left: 80px;
	position: relative;
}
.profile-content {
	margin-left: 80px;
}
.no-list-style {
	list-style: none;
	margin: 0;
	padding: 0;
}
.flow-editor-iframe {
	border: none;
	overflow-x: hidden;
	overflow-y: hidden;
	height:calc(100vh - 5px);
	padding: 0;
	margin: 0;
}

/* Styles for extended layout */
div.scroll::-webkit-scrollbar {width: 7px; height: 0;}
div.scroll::-webkit-scrollbar-track {margin: 54px 0 53px}
div.scroll::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
}
div.scroll:hover::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.45)}
div.scroll::-webkit-scrollbar-thumb:hover {background: rgba(0,0,0,0.55)}

.clickable {
	text-decoration: underline;
}
			.toggle-btn {

				min-height: 24px !important;
				height: 24px !important;
				width: 24px !important;
				padding: 0 !important;
				z-index: 99999999999;
			}
.toggle {
				position: absolute;
				top: 75px;
				right: -16px;
				i {
					color: #FFFFFF;
					font-size: 16px !important;
				}
			}
.collapsed-mode {
	margin-left: 80px;
}
.extended {
	.navbar {
		margin-left: 200px;
		width: calc(100% - 200px); 
	}

	.sidebar {
		width: 200px;
		position: fixed;
		bottom:0;
		.sidebar-content {
			/*position: relative;*/
			overflow-y: auto;
			height: 700px;
		}
		.top-logo {
			display: none;
		}
		.top-logo-extended {
			display: block;
			height: 70px;
			padding-top: 15px;
			font-size: 25px;
			text-align: center;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: white;
			font-weight: 500;
			opacity: 1;
			width: 200px;
			position: fixed;
			z-index: 999;
			background-color: $primary;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			@include transition(.2s);
			.smaller {
				font-size: 16px;
				letter-spacing: 5px;
				font-weight: 400;
			} 
		}
		.user-info {
			.opacity {
				background:rgba(0, 0, 0, 0.5);
				img.sidebar-profile {
					width: 75px;
					margin-top: 50px;
					margin-left: 30px;
				}
				.info {
					color: white;
					font-size: 18px;
					vertical-align: middle;
					position: absolute;
					top: 65px;
					right: 25px;
					display: inline-block;
					opacity: 1;	
					.smaller {
						font-size: 14px;
					}
					.pen {
						position: absolute;
						top: 80px;
						right: -5px;
						a {
							color: white;
							font-size: 22px;
						}
					}
				}
			}
		}
		.dashboard-menu {
        	ul.menu-list {
				li.active {
					a {

						padding-left: 0 !important;
						padding-right: 0 !important;
						padding-top: 5px !important;
    					padding-bottom: 5px !important;

					}
				}
    			li {  
    				min-height: 24px;	
    				float: left;
    				display: block;
    				width: 100%;	
					height: auto;	
    				a {
						display: block;
						
    					span.text {
    						display: inline-block;
							width: auto;
							font-size: 14px;
							line-height: 36px;
    					}
    					text-transform: none;
    					color: white;
    					font-weight: 400;
    					text-align: left; 
    					font-size: 12px;
    					padding-top: 3px;
    					padding-bottom: 3px;
    					.mdi {
    						font-size: 16px;
    						margin-left: 10px;
							margin-right: 10px;
							line-height: 36px;
    					}
    					.mdi-chevron-down {
    						float: right;
    						display: inline-block;
    						transition: 0.2s transform linear;
    						position:relative;
    						top:1px;
    						&.active {
    							transform: rotate(180deg);
    						}
    					}    					
    				}
    				&.active {
    					a {
    						padding-left: 5px !important;
    					}
    				}
    			}
    			ul.sub-menu {
    				position: static;    				
    				opacity: 0;
    				max-height: 0;
    				padding-left: 0;
    				list-style-type: none;
    				width: 100%;
    				display: block !important;
    				overflow: hidden;
    				background: darken($primary, 5%);
    				@include transition(.4s);
    				&.visible {
    					opacity: 1;
    					max-height: 300px;
    					
    				}
    				li {
    					height: 40px;
    					min-height: 40px;
    					&:hover {
							background: darken($primary, 10%) !important;
						}
    					a {
							font-size: 15px;
							height: 40px;
							padding-left: 2.5em !important;
							width: 100%;
							padding-top: 3px;;
							display: block;
							font-weight: 400;
							padding-bottom: 0;
							border-left: 4px solid transparent;
							&:hover {
								background: initial !important;
							}
    					}
    					&.active {
    						border-left: 4px solid lighten($primary, 25%);
							a {
								border-left: none !important;
							}
    					}
    				}
					li:before {
					    content: "• ";
					    color: lighten($primary, 25%); 
					    position: absolute;
					    left: 15px;
					    top: -2px;
					    font-size: 2.5em;
					}
    			}
        	}
        }
	}

	.content-holder {
		margin-left: 200px;
	}
}


/* Styles for RTL */

.rtl {
	* {
		direction: rtl;
	}
	.sidebar {
		right: 0;
		left: initial;
		.dashboard-menu {
			ul.menu-list {
				padding-left: initial;
				padding-right: 0;
				li {
					a {
						padding-left: 15px;	
						direction: ltr;						
					}
					&.active {
						a {
							padding-left: 15px !important;
						}
					}
				}
				ul.sub-menu {
					padding-left: initial;
					padding-right: 0;
					right: 80px;
				}
			}
		}
	}
	.navbar {
		margin-left: initial;
		margin-right: 80px;
		.right {
			float: left;
		}
	}
	.page-content {
		padding-left: initial;
		padding-right: 95px;
	}
	&.extended {
		.navbar {
			margin-left: initial;
			margin-right: 290px;
		}
		.content-holder {
			margin-left: initial;
			margin-right: 210px;
		}
		.sidebar {
			.user-info {
				.opacity {
					direction: ltr;					
				}
			}
		}
	}
	.panel-header {
		.cog {
			right: initial;
			left: 10px;
		}
	}
	.to-do {
		.md-button {
			float: left;
		}
	}
	.expandedContainer {
		padding-right: initial !important;
		.profile-content {
			margin-left: initial;
			margin-right: 80px;
		}
	}
	/*
	@media screen and (max-width: 839px) {
		.sidebar {
			right: -235px;
		}
		.navbar {
			margin-right: 0;
		}		
		.page-content {
		    padding-right: 15px;
		}
		&.extended {
			.sidebar {
				right: 0;
				left: initial;
			}
			.navbar {
				margin-right: 210px;
			}
		}
	}
	*/
}

.table-no-pad {
	th {
		padding: 0 !important;
	}
	td {
		padding: 0 !important;
	}
}
.no-datepicker-left-pad {
	.md-datepicker-button {
		margin-left: 0px;
	}
}

.tmpl-slots {
	li {
		float: left;
		width: 33%;
	}
}
.tmpl-slots:after {
	clear: both;
	width: 100%;
	margin: 0;
	content: '';
} 
.tmpl-list {
	li {
		float: left;
		width: 33%;
		md-card {
			max-height: 128px;
			min-height: 128px;
		}
	}
}
.tmpl-list:after {
	clear: both;
	width: 100%;
	margin: 0;
	content: '';
} 

.clickable {
	cursor: pointer;
	color: blue;
}
.breaker {
	width: 100%;
	border: 1px solid #E3E3E3;
	height: 1px;
	margin: 10px 0;
}
.error-box {
	border: 1px solid #E3E3E3; 
	padding: 15px;
	margin: 10px 0;
}

#acSearch input[name="autocompleteField"]  {
    background: url(http://glamourshots-albums.com/assets/themes/default/images/search.icon.png);
	background-repeat: no-repeat;
	background-position: 10px center;
    background-size: 16px 16px;
	padding: 0px 35px;
	background-color: #F5F5F5;
	border-radius: 2px;
}
#acSearch .md-whiteframe-z1 {
	box-shadow: none;
}

#rateCenterSearch input[name="rcautocompleteField"]  {
	padding: 0px 10px;
	border-radius: 2px;
	border: 1px solid #E3E3E3;
}
#rateCenterSearch .md-whiteframe-z1 {
	box-shadow: none;
}
.pattern-input {
	height: 30px;
	margin: 15px 0px;
}
.more-options-box {
	padding: 15px 5px;
	.hdg {
		margin: 10px 0px;
	}

}
.more-options-hdg {
	height: 32px;
}
.buy-radio {
	width: 135px;
}
.md-button {
	span {
		text-transform: none;
	}
}

md-checkbox {
  .md-icon {
    transform: scale(.7);
  }
  
  .md-label {
    margin-left: 35px;
  }
}
.pay-options {
	padding-right: 15px;

}
.filter-date {
	margin-top: 10px;
}
.password-icon {
	margin-top: 18px !important;
}
.chart-container {
	#line {
		max-width: 100%;
	}
}
.white {
	color: #FFFFFF;
}
.manage-workspace {
	margin-left: 20px;
}

.clear-search {
	position: absolute;
	top: 8px;
	right: 5px;
	font-size: 16px;
	cursor: pointer;
}
.relative {
	position: relative;
}
.important-show {
	display: block !important;
}
.important-dont-show {
	display: none !important;
}
.left-nav {
	float: left;
	width: 70%;
}
nav.right {
	ul {
		margin: 5px 0;
		padding: 0;

		li {
			float: left;
			margin-right: 10px;
		}
	}

	ul:after {
		clear: both;
		content: '';
		margin: 0;
		display: block;
	}
}
md-card {
	border-radius: 20px;
}

.form-btns {

}
.form-btns .submit {
	float: left;
}
.form-btns .cancel {
	float: left;
	font-size: 14px;
	margin: 6px 0 6px 10px;
	position: relative;
	top: 11px;
}
.calls-graph.mdl-cell
{
	border-radius: 20px !important;	
}
.calls-graph
{
	border-radius: 20px !important;	
}


.calls-graph .panel-header {
border-radius: 20px 20px 0px 0px;
-moz-border-radius: 20px 20px 0px 0px;
-webkit-border-radius: 20px 20px 0px 0px;
}

.calls-graph .linechart {
border-radius: 0px 0px 20px 20px;
-moz-border-radius: 0px 0px 20px 20px;
-webkit-border-radius: 0px 0px 20px 20px;
border: 0px solid #000000;
}