/* Variables here */

/* Colors */

$primary: #22272e; //#2f2f2f;
$secondary: #ff4081;
$warning: #ffa726;
$pink: #2979ff;
$green: #00D554;
$text: #fff;
$textInput: #fff;
$focusedInput: #589dd9;
$inputField: #fff;
$stepInput: #1a1a1a;
$secondaryButton: #21262d;
$borderButton: #474242;

$bg: #22272e;
$disabled: #4e4e4e;
$disabledText: #a0a0a0;
$linblocsSecondary: #1a1a1a;

/* Transition Mixin */

@mixin transition($duration) {
	transition: all $duration cubic-bezier(.27,.63,.5,1.05);
}
