/* Variables here */

/* Colors */

$primary: #4CAF50;
$secondary: #ff4081;
$warning: #ffa726;
$pink: #2979ff;
$green: #00D554;
$text: #fff;
$textInput: black;
$focusedInput: #00000061;
$inputField: #00000061;
$stepInput: #666;
$secondaryButton: rgba(0,0,0,.26);
$borderButton: white;

$bg: #f5f5f5;
$disabled: #f5f5f5;
$disabledText: #1a1a1a;
$linblocsSecondary: #1a1a1a;

/* Transition Mixin */

@mixin transition($duration) {
	transition: all $duration cubic-bezier(.27,.63,.5,1.05);
}
